RewriteEngine on
# If a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise forward it to index.php
RewriteRule . index.php

AuthType Basic
AuthName "Password Protected Area"
AuthUserFile "/var/www/html/15bells/.htpasswd"
require valid-user

