@font-face {
    font-family: pacifico;
    src: url(fonts/Pacifico.ttf);
}
@font-face {
    font-family: BebasNeue;
    src: url(fonts/BebasNeue.otf);
}
@font-face {
    font-family: arial;
    src: url(fonts/arial.ttf);
}
@font-face {
    font-family: Eight_One;
    src: url(fonts/Eight One.ttf);
}
body{
    margin: 0px;
    padding: 0px;
}
a{text-decoration:none !important;}
.pad50{
	padding:50px;
}
.no_margin{
	margin:0;
}
.row{
	margin:0;
}
.two{display:none;}
.safed{color:#ffffff !important;}
.neela{color:#10101d !important;}
.neela_bg{background:#10101dc2 !important;}
.top_div{
	list-style:none;
	display:inline-flex;
	color:#ffffff;
	margin:6px 0px;
}
.top_div li{
	font-size:11px;
	color:#1D8B8C;
}
.top_div i{
	color:#1D8B8C;
	padding-right:7px;
}
.navbar-info {
    width: 100%;
    
    
}
.fixed-me{
    transition: all 1s ;
}

.fixed-me{
    background-color:#fff;
    margin-bottom: 5px;
    position: fixed;
    top:0;
	z-index:888;
    width: 100%;
	padding:5px 0;
    
}
.fixed-me .site-logo{
	color:#10101e !important;
}
.top_menu{
	background:transparent;
}
.header_bg{
	padding:0;
    height: 670px; 
}


.header-right-menu{
 padding: 0px 15px !important;   
    
}
.site-logo{
    padding: 0px 20px !important;
    color: #ffffff !important;
    position: relative;
    bottom: 6px;
}
.nav_bg{
	background:#10101d;
}
.navbar-me{
    padding:0px;
    background-color: transparent;
    top: 0px;
    border: 0px;
    border-radius: 0px;
	left:0;
	margin:0;
}
.navbar-collapse{
    text-align: center;
    border-top-width: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.menu-collapsed-button{
    margin: 5px 15px 10px 15px !important;
}
.navbar-default .navbar-nav>li>a{
	color:#ffffff;
}
.menu_a{
	padding:20px 15px !important;
	text-transform:uppercase;
	font-family: 'Lato', sans-serif;
	font-size:13px;
}
.menu_a:hover{
	transition:.4s;
	color:#0FD8DA !important;
}
.menu_a:focus{
	color:#0FD8DA !important;
}
.drop_mrgin{
	    margin: 12px 0px;
}
.srv_submnu{
    text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	border:none;
}
.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}

.img_logo{
	top:8px;
	position:relative;
}
.brand_name{
	font-size:70px;
	color:#fff;
	font-family:pacifico;
}
.tag_line{
	    font-size: 65px;
    color: #0ed7db;
    text-transform: uppercase;
    font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}
.brand_desp{
	margin:40px 0 0 0;
}
.abt_txt{
	font-family: 'Open Sans', sans-serif;
	letter-spacing:1px;
	text-align:justify;
	font-size:15px;
}

.start_lets{
	    background: transparent;
    color: #0FD8DA;
    border-radius: 1px;
    box-shadow: 0 0 1px #0FD8DA;
	font-family: 'Open Sans', sans-serif;
	transition:.4s;
	text-transform:uppercase;
	font-size:12px;
}
.start_lets:hover{
	background:#10101d73;
	transition:.4s;
	color:#fff;
}

.start_lets:focus{
	background:#10101d73;
	transition:.4s;
	color:#fff;
}

/**********************/

.icon {
	cursor:pointer;
}
.icon_type{
	    width: 120px;
    height: 120px;
    margin: 0 auto;
    border: 6px solid #fff;
    border-radius: 50%;
    padding-top: 40px;
    box-shadow: 0px 0px 0px 2px #dedede;
    background: #171727;
	transition:.4s;
}
.icon_type:hover{
	
    border: 6px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2px #dedede;
    background: #0ed8db;
	transition:.4s;
}
.icon_type:hover .icn_cat{
	color:#171727;
	transition:.4s;
}
.icn_cat{
	font-size:25px;
	color:#ffffff;
}
.icon_type .fa{
	color:#fff;
	font-size:25px;
}
.s2{
	background:#f9f9f9;
}
.common_small {
    position:relative;
    background-color:#dedede;
	padding:50px 42px 70px;
	border:2px solid #dedede;
	margin-top:28px;
	float:left;
}
.common_space {
    position: relative;
    background: #f9f9f9;
    border: 4px solid #0FD8DA;
	padding:30px 5px;
	margin:30px 17px;
}
.common_space:before{

     border-color: rgba(194, 225, 245, 0) !important;
    border-bottom-color: #0FD8DA !important;
    border-width: 36px !important;
    margin-left: -36px !important;
}
.common_space:after {
    border-color: rgba(136, 183, 213, 0) !important;
    border-bottom-color: #f9f9f9 !important;
    border-width: 30px !important;
    margin-left: -30px !important;
}
.common_space:after, .common_space:before{
bottom: 100%;
    
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;}

.office:after, .office:before{
    left: 33%;
}
.retail:after, .retail:before{
    left: 49%;
}
.warehouse:after, .warehouse:before{
    left: 65%;
}
.last:after, .last:before{
    left: 72.5%;
}

.prop_field{
	margin-top:20px;
	font-size:20px;
	color:#10101e;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
}
.office_l{
	display:inline-flex;
	list-style:none;
}
.office_l li{
	padding:0 30px;
}
/*********Common text*******/
.section_common{
	padding:40px;
}
.pad30{
	padding:30px;
}
.top_tg_1{
color: #0FD8DA;
font-size:20px;
font-family:arial;
}
.top_tg_2{
color: #ffffff;
font-size:20px;
font-family:arial;
}
.color_w{
	color:#ffffff !important;
}
.top_tg{
color: #0ed7db;
font-size:20px;
font-family:pacifico;
}
.section_tg{
	font-size:45px;
	font-weight:bold;
	margin-top: 9px;
	text-transform:uppercase;
	font-family: 'Lato', sans-serif;
	color:#161625;
}
.section_txt{
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
	color:#7C7C7C;
}
.white_clr{
	color:#0ed7db;
}

.clint_tst, .client_contnt{
	color:#0ed7db;
}

.testimonial_bg{
	background:#10101e;
}
.client_contnt{
	border:1px solid #0ed7db;
	padding:20px;
	border-radius:5px;
}
blockquote{
	border-color:#0ed7db;
}
.space_for{
	 padding: 8px 10px;
    border: 3px solid #171727;
    background: #fff;
    color: #171727;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}
.space_for:hover{
	background:#171727;
	color:#ffffff;
	transition:.3s;
}
.featured_div{
	width:90%;
	margin:0 auto;
}
.fetured_projects{
	background:#f9f9f9;
}
.feature_icon{
	width: 50px;
    height: 50px;
    border: 2px solid #0ed8db;
    padding-top: 10px;
    text-align: center;
}
.icon_clr{
	color:#0ed8db;
	font-size:25px !important;
}
.prop_det{
	width:100%;
	float:left;
}
.proper_icon{
	width:20%;
	float:left;
}
.proper_desp{
	width:80%;
	float:left;
}
.proper_desp p{
	margin:0 0 3px 0;
	font-family: 'Open Sans', sans-serif;
}
.proj_titl{
	margin:0;
	font-family: 'Open Sans', sans-serif;
	padding:10px 0;
}
.detail_p{
	padding:15px 0;
}
.pad_r{
	padding:10px 3px;
}
.project_details{
	box-shadow: 0px 0px 3px #656969;
    padding: 0;
}
.list-inline li{
	    box-shadow: 0px 0px 3px #10101e;
    padding: 0;
}
.our_clients{
	background:#10101e;
}
.our_clients img{
	width:200px;
	margin:0 auto;
}
.follow_links{
	list-style:none;
	display:inline-flex;
}
.socila_links{
	background:#dae2f8;
	padding:30px;
	border-top:2px solid #eeeded;
}
.follw_us{
	color:#10101e;
	padding-top:32px;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	font-size:15px;
	padding-right:20px;
}
.icon_socil{
	width: 75px;
    height: 75px;
    margin: 0 auto;
    border: 6px solid #fff;
    border-radius: 50%;
    padding-top: 20px;
    box-shadow: 0px 0px 0px 2px #dedede;
    background: #171727;
    transition: .4s;
    text-align: center;
    margin: 0 15px;
}
.icon_socil:hover{
	
    border: 6px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2px #dedede;
    background: #0ed8db;
	transition:.4s;
}
.icon_socil:hover .socal_icon{
	color:#171727;
	transition:.4s;
}
.icon_socil .fa{
	color:#fff;
	font-size:25px;
}
.blue {background:#10101d;}

.white {background:white;}

/********SIGNUP PAGE CSS*********/
.signup_form{
	background:#ffffff;
	padding:15px 30px;
	height:100vh;
}
.signup_pg, html {
    height: 100%;
    margin: 0;
}
.sign_up{
    background-image: url("img/signup.jpg");
	padding:0;
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.styled-select {
  box-sizing: border-box;
  border-radius: 3px;
  
  overflow: hidden;
  position: relative;
}
select:focus { outline: none; }
.styled-select select {
  height: 34px;
  padding: 5px 0 5px 5px;
  background: transparent;
  border: none;
  width:100%;
  /*hide default down arrow in webkit */
  -webkit-appearance: none; 
}

@-moz-document url-prefix(){
  .styled-select select { width: 110%; }
}

.down_arrw {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 20px !important;
      width: 25px;
    height: 34px;
    text-align: center;
    background: #10101e;
    color: #fff;
    padding-top: 4px;
	border-radius:0 2px 2px 0;
	
}
#signupform-companytype{
	border:1px solid #0ed8db;
	z-index:9;
	position:relative;
}
 select::-ms-expand { display: none; } /* hide default down arrow in IE10*/

/*****Country code*******/
.tele_code select{
	height: 34px;
  padding: 5px 0 5px 5px;
  background: transparent;
  border: none;
  width:100px;
  /*hide default down arrow in webkit */
  -webkit-appearance: none;
  z-index:999999;
}
.tele_code {
  box-sizing: border-box;
  border-radius: 3px;
  width:25%;
  float:left;
  overflow: hidden;
  position: relative;
    color: #fff;
}
.mobile_no{
	width:75%;
	float:left;
}
.full_width{
	width:100%;
	float:left;
}
#partitioned {
  padding-left: 5px;
  letter-spacing: 42px;
  border: 0;
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position: bottom;
  background-size: 50px 1px;
  background-repeat: repeat-x;
  background-position-x: 35px;
  width: 220px;
  box-shadow:none !important;
}
.select2-container--krajee .select2-selection--single{
	background:#10101d !important;
	border-radius:0px;
}
.select2-container--krajee .select2-selection--single .select2-selection__arrow b{
	border-color:#fff transparent transparent !important;
}
.select2-container--krajee .select2-selection--single .select2-selection__rendered{
	color:#fff !important;
}
.select2-container .select2-selection--single .select2-selection__clear{
	color:#fff !important;
	opacity:1 !important;;
}
.eye_icon{
	    width: 40px !important;
    height: 32px;
    top: -8px;
    padding-top: 8px;
    background: #10101e;
    color: #fff;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -35px;
  position: relative;
  z-index: 2;
}
.same_pad{
	padding:5px 25px;
}
.sign_line{
	font-size: 20px;
    font-weight: bold;
    color: #10101d;
	padding-left:25px;
}
.first_nam{
	padding:8px 0;
}
.last_nam{
	padding:0 0 0px 10px;
}
.signup_form .form-control::placeholder{
	color:#0FD8DA;
		font-family: 'Roboto', sans-serif;
}
.signup_form .form-control{
	border-radius:1px !important;
	color:#0FD8DA;
		font-family: 'Roboto', sans-serif;
}
.signup_form select{
	border-radius:1px !important;
	color:#0FD8DA;
		font-family: 'Roboto', sans-serif;
		border:1px solid #0fd8da;
}
#divInner{
  left: 0;
  position: sticky;
}

#divOuter{
  width:195px; 
  overflow:hidden
}
.otp_hed{   
	font-size: 18px;
    color: #0ed8db;
	text-transform:uppercase;
}
.check_box{
	padding-left:40px;
}
.terms_con{
	color:#10101e;
	font-family: 'Lato', sans-serif;
	margin-top:1px;
}
.submt_butn{
	border-radius:1px;
	background:#10101e;
	color:#0FD8DA;
	width:100%;
	font-size:16px;
	font-family: 'Roboto', sans-serif;
	transition:.4s;
}
.submt_butn:hover{
	color:#10101e;
	background:#fff;
	border:1px solid #10101e;
	transition:.4s;
}
.email_icon{
	    width: 40px;
    height: 45px;
    position: absolute;
    top: 20px;
    text-align: center;
    padding-top: 9px;
    background: #10101e;
	color:#ffffff;
}
.login_field{
	height:45px;
	padding-left:50px;
}
.login_pad{
	padding:20px 30px;
}
.forgt_passwrd{
	    color: #10101e;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none !important;
}
.p_forgt{
	padding-top:10px;
	 
}
.creat_accnt{
	padding:10px;
	color: #10101e;
    font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
.cret_clk{
	text-decoration:none !important;
	padding-left:5px;
}
.login_rw{
	height:100%;
	position:fixed;
	width:100%;
}


/*****************Search Page Css******************/
.search_bg{
	height:550px;
	padding:0;
}
.search_logo{
	width:160px;
	margin:0 auto;
}
.search_reslt{
	background:#D9E1F8;
}
.top_search{
		list-style:none;
		display:inline-block;
		position:relative;
		background:#ffffff;
		padding:0;
		border-radius:10px;
}
.top_search .form-control{
    border-color: transparent;
    color: #0FD8DA;
    height: 40px;
	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	font-size:12px;
	box-shadow:none;
}
.brdr_rite{
    border-right: 2px solid #0FD8DA !important;
}
.serch_select{
	border-radius:10px 0 0 10px;
	width:170px !important;
}
.search_inpt{
	width:300px !important;
	padding-left:30px;
	box-shadow:none;
	border:0px !important;
}
.search_inpt::placeholder{
	color: #0FD8DA;
	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	font-size:12px;
}
.icon_markr{
	 color: #0FD8DA;
	 font-size:20px !important;
	 position: absolute;
     top: 10px;
     left: 10px;
}
.search_button{
	    height: 41px;
    padding-top: 8px;
    width: 100px;
    background: #161625;
    border: 0;
    border-radius: 0;
    color: #fff;
	border-radius:0 10px 10px 0;
}
.top_line{
	padding:12px 30px;
	background:#ffffff;
	box-shadow:0px 0px 2px #a2a2b1;
}
.proprty_reslt{
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	font-weight:600;
	margin:0;
	padding-top:6px;
}
.proprty_reslt span{
	padding-right:5px;
}
.listing_itme{
	list-style:none;
	display:inline-flex;
	margin:0;
}
.listing_itme li{
	padding:0 8px;
}
.list_icon{
	font-size: 25px !important;
    padding: 4px 3px 2px 3px;
	
    border-radius: 1px;
    border: 1px solid #d9e1f8;
    color: #0FD8DA;
}
.sort_by{
	position:absolute;
	top:6px;
	left:10px;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
	color:#0FD8DA;
}
.sort_select{
	border:1px solid #0FD8DA;
	box-shadow:none;
	width:140px;
	border-radius:0;
}
.prop_img{
	width:230px;
	margin:0 auto;
}
.prop_contnt{
	list-style:none;
	display:inline-flex;
	padding:0px;
	margin:0;
}
.prop_contnt .padd_li{
	padding:0px 20px;
}
.first_li{
	padding:0 20px 0 0px;
}
.des_hed{
	color:#0FD8DA;
	text-transform:uppercase;
	font-size:12px;
	margin:3px 0;
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
}
.des_txt{
	font-size:11px;
	font-weight:bold;
	font-family: 'Roboto', sans-serif;
}
.abt_head{
	font-size:14px;
	font-weight:bold;
	font-family: 'Roboto', sans-serif;
}
.new_serch{
	margin:5px 0;
}
.abt_prop{
	font-size:11px;
	font-family: 'Roboto', sans-serif;
	color:#0FD8DA;
}
.heading_prop{
	font-size:17px;
	font-family: 'Roboto', sans-serif;
}
.property_detail{
	    background: #fff;
    margin-top: 30px;
    padding: 20px;
	box-shadow:0px 0px 2px #a2a2b1;
}
.place_bid{
	padding:8px 30px;
	background:#161625;
	color:#fff !important;
	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	text-decoration:none !important;
	font-size:11px;
	transition:.4s;
}
.place_bid:hover {
	border:1px solid #161625;
	color:#161625 !important;
	background:#fff;
	transition:.4s;
}
.bid_butn{
	margin-top:15px;
	
}
.holi-row-form{
	padding-top:25px;
	}
#nyadiv{
	    left: 28% !important;
    padding: 10px !important;
    background: #10101d !important;
    color: #ffffff !important;
	margin:3px !important;
}
.out_srch{
	float:right;
	background:#10101d !important;
	color:#ffffff;
	padding:7px 25px;
}
/*******************CSS FOR FOOTER SECTION***************/
.footer_bg{
	background:#10101d;
	font-family: 'Roboto', sans-serif;
}
.bootm_line{
	padding:10px;
	background:#161625;
}
.post_recnt{
	padding-bottom:15px;
}
.logo_hed{
font-family: Eight_One;
text-transform:uppercase;	
}
.post_txt{
		font-family: 'Open Sans', sans-serif;
		font-size:12px;
		color:#fff;
}
.bell_txt{
		font-family: 'Open Sans', sans-serif;
		font-size:12px;
		color:#fff;
		margin:15px 0;
}
.footr_hed{
		font-family: 'Lato', sans-serif;
		font-size:15px;
		color:#0FD8DA;
		font-weight:bold;
		text-transform:uppercase;
}
.tags_links{
	padding:8px 20px;
	border:2px solid #0FD8DA;
	color:#fff !important;
	border-radius:1px;
	transition:.4s;
	font-family: 'Open Sans', sans-serif;
}
.tags_links:hover{
	background:#0FD8DA;
	color:#161625 !important;
	transition:.4s;
}
.tags_ul{
	list-style:none;
	padding:0;
	float:left;
}
.tags_ul li{
	float:left;
	margin:15px 10px;
}
.rights_rervd{
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	font-size:12px;
	color:#0FD8DA;
	margin:0;
	letter-spacing:1px;
}
.footer_mnu li{
	color:#ffffff;
}
.footer_mnu{
	list-style:none;
	display:inline-flex;
	margin:0;
}
.footr_link{
		font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	font-size:12px;
	color:#0FD8DA;
	padding:0 5px;
	transition:.4s;
}
.footr_link:hover{
	color:#fff;
	transition:.4s;
}
/*************Contact US CSS*************/

.contact_us{
	padding:0
}
.contct_lin{
	font-size:25px;
	font-weight:bold;
	color:#0FD8DA;
	font-family: 'Roboto', sans-serif;
}
.contct_queries{
	font-size:14px;
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
	width:55%;
	margin:0 auto;
	padding:5px 20px 20px 20px;
}
.form_contct{
	padding:0 60px;
}
#address_map{
	width:100%;
	height:720px;
}
.contact_input{
	border:2px solid #0FD8DA;
	border-radius:1px;
}
.contact_input::placeholder{
	font-size:12px;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
	color:#0FD8DA;
}
.contct_p{
	font-family: 'Roboto', sans-serif;
	color:#000;
	font-weight:bold;
	font-size:13px;
	width:100%;
	float:left;
	padding:4px 0;
}
.contct_form{
	padding-top:20px;
	background:#fff;
}
/*****************ADD Property page css******************/
.property_form{
	background:#D9E1F8;
}
.button_add{
	padding:10px 35px;
	background:#10101d;
	color:#ffffff !important;
	border-radius:2px;
	transition:.4s;
	margin:0 20px;
	font-size:17px;
	border:none;
}
.pading_top{
	padding-top:20px;
}
.addprop_txt{
	font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
}
.add_buttn{
	padding-top:15px;
}
.addprop_form{
	width:55%;
	margin:0 auto;
	padding:25px 50px 50px;
	background:#fff;
	border-radius:6px;
}
.add_input{
	border:2px solid #0FD8DA;
	border-radius:5px;
	height:40px;
	color:#0FD8DA;
	font-family: 'Roboto', sans-serif;
}
.add_input::placeholder{
	font-size:11px;
	text-transform:uppercase;
	color:#0FD8DA;
	font-family: 'Roboto', sans-serif;
}
.property_head{
	color:#10101d;
	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	padding-bottom:20px;
}
.property_head span{
	padding:4px 0;
	border-bottom:3px solid #0FD8DA;
}
.input_loc{
	padding:0 0 0 10px;
}
.input_select{
	padding:0 10px 0 0;
}
.one_add{
	padding:5px 0;
}	
.test_row{
	padding-bottom:20px;
}	
.bg_sellr{
	 background-image: url("../newimg/new_s.jpg");
	padding:50px;
    background-attachment: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.number{
	font-size:70px;
	font-weight:bold;
	font-family: 'Roboto', sans-serif;
	color:#10101d;
	margin:0;
}
.txt{
	font-size:30px;
	font-family: 'Roboto', sans-serif;
	color:#ffffff;
}
.step_p{
	padding:15px 0;
}

/*****************ADD Propet page css ends******************/
/*****************Responsive CSS*****************/
@media screen and (max-width: 767px) {
	.tag_line{
		font-size:42px;
	}
	.input_loc{
		padding:0;
	}
	.input_select{
		padding:0;
	}
	.client_pad{
		padding:10px;
	}
	.navbar-me{
		padding:10px;
	}
	.brand_name{
		font-size:65px;
	}
	.img_logo{
		position:inherit;
		top:0;
	}
	 .first_nam{
	padding:10px 0;
}
.last_nam{
	padding:10px 0;
}
.pad50{
	padding:10px !important;
}
.pad30{
	padding:0;
}
.abt_txt{
	text-align:justify;
	padding:20px 0;
}
.first_li{
	padding:0 5px 0 0 !important;
}
.prop_contnt .padd_li{
	padding:0px 10px !important;
}
.prop_img{
	width:100%;
}
.heading_prop{
	margin-top:10px;
}
.abt_prop{
	margin-bottom:10px;
}
.follow_links{
	display: inherit !important;
	padding:0;
}
.icon_socil{
	margin: 8px 6px;
    float: left;
}
.follw_us{
	padding: 15px;
    font-size: 20px;
}
.pad_footr{
	padding:10px 0;
}
.top_search{
	background:transparent !important;
}
.serch_select{
	width:100% !important;
	border-radius:2px !important;
}
.search_button{
	width:100% !important;
	border-radius:2px !important;
}
.brdr_rite{
	border:0 !important;
}
.addprop_form{
	width:95%;
	margin: 25px auto;
}
#main_vd{
	width:100%;
	float:left;
}
.bg_sellr{
	background-image:none !important;
	background-color:#0fd8da;
}
.rights_rervd{text-align:center;}
.footr_mnu{text-align:center !important;}
.footr_mnu .footer_mnu{padding:0 !important;margin:8px 0;}
}
 @media only screen and (max-width: 1000px) and (min-width: 768px) {
	.property_detail{text-align:center !important;}
	.prop_centr{text-align:center !important;padding-top:15px;}
	.office_l li{padding:0 20px;}
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
	.office_l li{padding:0 20px;}
}
/*********FOR MOBILE SELECT******/
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
	z-index:999;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
.same_marg{
	margin:15px 0;
}
.common_small .space_for{
	width:100%;
	float:left;
}
.help-block{
	font-size:11px;
}

.img_sign{
	width:100%;
	height:110vh;
}
.no_pad{
	padding:0 !important;
}
.mrgn_2{
	margin-top:13px;
}
video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

/******************NEW CSS***************/
@font-face {
    font-family: Lato-Italic;
    src: url(fonts/Lato-Italic.ttf);
}
a{text-decoration:none!important;}
.banner_bg{
	background:#171624;
	min-height:100vh;
}
.top_div{list-style:none;padding-top:10px;}
.top_div li{
	display:inline-flex;
}
.servic_txt{
	text-transform:uppercase;
	color:#0ed7db;
	font-size: 22px;
    padding: 20px 0px 10px 20px;
    font-weight: 600;
}
.servic_txt1{
	text-transform:uppercase;
	color:#0ed7db;
	font-size: 22px;
    padding: 30px 0px 10px 20px;
    font-weight: 600;
}
.servic_detl{
	    font-size: 13px;
    padding: 10px 30px;
    color: #0ed7db;
}
.servc_logo{width:100px;margin:0 auto;}
.padding_servic{
	padding:170px 20px 0 20px;
}
.menu_a{
	color:#0ed7db;
	font-size:14px;
	padding:0 10px;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
}
.qoute_txt{
	    color: #ffffff;
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    letter-spacing: .5px;
    font-weight: bold;
    text-transform: uppercase;
}
.tag_line{
	    color: #ffffff;
    font-size: 26px;
    font-family: Lato-Italic;
    letter-spacing: .5px;
}
.continu_btn{
	padding:7px 40px;
	border:1px solid #ffffff;
	color:#ffffff;
	font-size:20px;
	font-family: Lato-Italic;
	border-radius:50px;
	}
.padg_tp{padding-top:30px;}
.hover_img{transition:0.4s;opacity:0;position:absolute;left:35%;}
.icon_service:hover .img_hid{opacity:0;transition:0.4s;}
.icon_service:hover .servc_logo{opacity:0;transition:0.4s;}
.icon_service:hover .servic_detl{color:#ffffff;transition:0.4s;}
.icon_service:hover .servic_txt1{color:#ffffff;transition:0.4s;}
.icon_service:hover .servic_txt{color:#ffffff;transition:0.4s;}
.icon_service:hover .hover_img{transition:0.4s;opacity:1;}
.icon_service {position:relative;}
/******MOBILE SCREEN*********/
@media screen and (max-width: 670px) {
	.servic_detl{
		display:none;
	}
	.top_div{
		padding-top:20px;
	}
	.padding_servic{
		padding:80px 0;
	}
	.icon_service {
    position: relative;
    padding: 20px 0;
	}
	.servic_txt1{
		padding: 20px 0px 0px 0px;
	}
	.servc_logo{
		width:80px;
	}
	.hover_img{transition:0.4s;opacity:0;position:absolute;left:38.5%;}
}
.same_ht{
	height: 100vh;
	transition:.4s;
	transform:scale(1);
	background-position:center;
	padding-top:230px;
}
.new_banner{
	height: 100vh;
	transition:.4s;
	transform:scale(1);
	background-position:center;
	background:linear-gradient(to bottom, rgb(67, 198, 172), rgb(25, 22, 84));
	background-attachment:fixed;
}
.s1:hover .d1{
	background:linear-gradient(to bottom, rgb(67, 198, 172), rgb(25, 22, 84));
	transition:.4s;
	background-attachment:fixed;
	
}
.c2:hover .d2{
	background:linear-gradient(to bottom, rgb(67, 198, 172), rgb(25, 22, 84));
	transition:.4s;
	background-attachment:fixed;
}
.s3:hover .d3{
	background:linear-gradient(to bottom, rgb(67, 198, 172), rgb(25, 22, 84));
	transition:.4s;
	background-attachment:fixed;
}
.s4:hover .d4{
	background:linear-gradient(to bottom, rgb(67, 198, 172), rgb(25, 22, 84));
	transition:.4s;
	background-attachment:fixed;
}
.no_pad{
	padding:0 !important;
	margin:0 !important;
}
.logo_div{
	position:absolute;
	z-index:999;
}

.icons_fixed {
    top:30%;
    height:200px;
    width:50px;
    position:fixed;
    left: 0;
}

.facebookflat {
    background:#3b5998;
    height:40px;
    width:40px;
   transition:ease 500ms;
    background-size:50px;
    opacity:1;
	text-align: center;
    padding-top: 9px;
    color: white;
}

.facebookflat:hover {
    background:;
    height:40px;
    width:40px;
    opacity:1;
    transition:ease 500ms;
    width:55px;

}

.twitterflat {
    background:#0077b5;
    height:40px;
    width:40px;
    transition:ease 500ms;
    opacity:1;
	text-align: center;
    padding-top: 9px;
    color: white;
}

.twitterflat:hover {
    height:40px;
    width:40px;
    opacity:1;
    transition:ease 500ms;
    width:55px;
}
.u_tube {
    background:#db4437;
    height:40px;
    width:40px;
    transition:ease 500ms;
    opacity:1;
	text-align: center;
    padding-top: 9px;
    color: white;
}

.u_tube:hover {
    height:40px;
    width:40px;
    opacity:1;
    transition:ease 500ms;
    width:55px;
}
.anchr_s{
	color:#ffffff !important;
	font-size:20px;
}
