 .tkd-login-bg{
   
  background:rgb(100,149,237); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgb(100,149,237)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,0,0,0),rgb(100,149,237)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,0,0,0),rgb(100,149,237)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,0,0,0),rgb(100,149,237)); /*Standard*/

  }
  
  .from-border{
    margin: 10% 30% 10% 30% !important;
    background: #fff;
    padding: 20px;
  }
   .btn-width{
      width:100%;
  }
 
 .tkd-login-head{

     font-size: 16px;
     font-weight: bold;

 }
 .tkd-login-margin{
     margin-top: 20px;
     margin-bottom: 10px;
 }
