#page{
    font-family: 'Roboto', sans-serif;
    background: #000;
    font-weight: 400;
    font-size: 15px;
    color: #aa3e03;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ie7 #page{
    overflow:hidden;
}

.container{
    position: relative;
    text-align: center;
}
.clr{
    clear: both;
}
.container > header{
    padding: 30px 30px 10px 20px;
    margin: 0px 20px 10px 20px;
    position: relative;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: left;
}

.container > header h1 span{

}
.container > header h2, p.info{
    font-size: 16px;
    font-style: italic;
    color: #f8f8f8;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
/* Header Style */
.codrops-top{
    font-family: Arial, sans-serif;
    line-height: 24px;
    font-size: 11px;
    width: 100%;
    background: #000;
    opacity: 0.9;
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    -moz-box-shadow: 1px 0px 2px #000;
    -webkit-box-shadow: 1px 0px 2px #000;
    box-shadow: 1px 0px 2px #000;
}
.codrops-top a{
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #ddd;
    display: block;
    float: left;
}
.codrops-top a:hover{
    color: #fff;
}
.codrops-top span.right{
    float: right;
}
.codrops-top span.right a{
    float: none;
    display: inline;
}

p.codrops-demos{
    display: block;
    padding: 15px 0px;
}
p.codrops-demos a,
p.codrops-demos a.current-demo,
p.codrops-demos a.current-demo:hover{
    display: inline-block;
    border: 1px solid #6d0019;
    padding: 4px 10px 3px;
    font-size: 13px;
    line-height: 18px;
    margin: 2px 3px;
    font-weight: 800;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow:0px 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #a90329;
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
    background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
    background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
    background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
    background: linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
}
p.codrops-demos a:hover{
    background: #6d0019;
}
p.codrops-demos a:active{
    background: #6d0019;
    background: -moz-linear-gradient(top, #6d0019 0%, #8f0222 56%, #a90329 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d0019), color-stop(56%,#8f0222), color-stop(100%,#a90329));
    background: -webkit-linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
    background: -o-linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
    background: -ms-linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
    background: linear-gradient(top, #6d0019 0%,#8f0222 56%,#a90329 100%);
    -webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.9);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.9);
    box-shadow: 0px 1px 1px rgba(255,255,255,0.9);
}
p.codrops-demos a.current-demo,
p.codrops-demos a.current-demo:hover{
    color: #A5727D;
    background: #6d0019;
}
.icon_nav{
    background-color: #fff;
}
.user_nav{
    font-size: 17px !important;
    background-color: #fff;
    border-radius: 30px;
    padding: 5px 7px;
    color: #054262;
}
.calender_nav{
    color: #fff;
    font-size: 20px !important;
    padding-top: 3px;
}
.envelop_nav{
    color: #fff;
    font-size: 20px !important;
    padding-top: 3px;
}
.bell_nav{
    color: #fff;
    font-size: 20px !important;
    padding-top: 3px;
}
.navigation .navbar-nav>li>a{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.navigation .navbar-nav>li>a:hover{
    color: #fff;
    background-color: transparent !important;
}
.navigation .navbar-nav>li>a:focus{
    color: #fff;
    background-color: transparent !important;
}
.navigation .navbar-nav>li>a{
    color: #fff;
    background-color: transparent !important;
}
.navigation .navbar-nav>li>a:active{
    color: #fff;
    background-color: transparent !important;
}
.label.label-primary {
    border-radius: 50%;
    font-size: 9px;
    left: 28px;
    position: absolute;
    top: 19px;
    background-color: #e6e1e1;
    color: #053e5b;
}
.icon-info .label {
    border: 2px solid #ffffff;
    font-weight: 500;
    padding: 3px 5px;
    text-align: center;
}




.main_content{
    position: relative; 
    top: 60px;
}
.logo_div img{
    width: 150px;
}
.mini-submenu{
  background-color: rgba(0, 0, 0, 0);  
  border: 0px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;  
  /*position: relative;*/
  

}
.list-group ul{
    list-style: none;
    padding: 0px;
}   
.list-group-item{
    color: #053e5b !important;
    text-decoration: none;
    display: block;
    background: #e6e1e1;
    padding: 13.9px 10px 10px 4px;
    font-size: 14px;
    border-radius: 0px !important;
    font-family: 'Roboto', sans-serif;
}
.list-group-item:hover{
    color: #053e5b;
    background-color: #e6e1e1;
}
.list-group-item .fa{
    font-size: 20px;
    padding: 0 10px 0 0;
}
.mini-submenu:hover{
  cursor: pointer;
}
.detail_cont{
    padding: 0;
    position: relative;
    top: 12px;
    left: 8px;
    z-index: 999;
}
.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #fff;
}
.detail_cont ul{
    list-style: none;
    padding: 0px;
}
.list_n_hide{
    color: #053e5b;
    text-decoration: none;
    display: block;
    background: #e6e1e1;
    padding: 8.9px 7px 9px 3px;
    font-size: 20px;   
}
.list_n_hide img{
    width: 22px;
}
.check_button a{
    color: #fff !important;
    font-size: 14px;
}
.check_button li {
    padding: 0px 50px 0 50px;
}
.on_active_box{
    background-image: url(../dashimages/unselect_icon.png);
    padding: 3px 0px 4px 24px;
}
.nav-tabs>li.active .on_active_box{
    background-image: url(../dashimages/select_icon.png);
    padding: 3px 0px 4px 24px;
}
.nav-tabs>li.active>a{
    color: #ffba00;
    cursor: pointer;
    background-color: transparent; 
    border: 0px solid #ddd; 
    border-bottom-color: transparent; 
    font-family: 'Roboto', sans-serif;
}
.nav-tabs>li.active>a:focus{
    color: #ffba00;
    cursor: pointer;
    background-color: transparent; 
    border: 0px solid #ddd; 
    border-bottom-color: transparent;
    font-family: 'Roboto', sans-serif;
}
.nav-tabs>li.active>a:hover{
    color: #ffba00;
    cursor: pointer;
    background-color: transparent; 
    border: 0px solid #ddd; 
    border-bottom-color: transparent;
    font-family: 'Roboto', sans-serif;
}
.nav-tabs>li.active>a:visited{
    color: #ffba00;
    cursor: pointer;
    background-color: transparent; 
    border: 0px solid #ddd; 
    border-bottom-color: transparent;
    font-family: 'Roboto', sans-serif;
}
.nav-tabs>li>a:hover {
    border-color: transparent;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
}
.my_profile{
        padding: 50px 20px 40px 20px;
}
.my_profile img{
    border: 2px solid #fff;
    border-radius: 100px !important;
    padding: 20px;
    width: 120px;
    height: 120px;
}
.my_profile img:hover{
     background-color: rgba(255, 255, 255, 0.31);
}
.pro_btn{
    color: #fff;
    font-size: 17px;
    margin-top: 10px;
    background-color: transparent;
    border-radius: 0px;
    border: 2px solid #fff;
   font-family: 'Roboto', sans-serif;
}
.pro_btn:hover {
    background-color: #fca900;
    color: #fff;
    border: 2px solid #fff;
}
.my_document{
        padding: 50px 10px 40px 10px;
}
.my_document img{
    border: 2px solid #fff;
    border-radius: 100px !important;
    padding: 20px;
    width: 120px;
    height: 120px;
}
.my_document img:hover{
     background-color: rgba(255, 255, 255, 0.31);
}
.my_expect{
        padding: 50px 10px 40px 10px;
}
.my_expect img{
    border: 2px solid #fff;
    border-radius: 100px !important;
    padding: 20px;
    width: 120px;
    height: 120px;
}
.my_expect img:hover{
     background-color: rgba(255, 255, 255, 0.31);
}
.my_bank{
        padding: 50px 10px 40px 10px;
}
.my_bank img{
    border: 2px solid #fff;
    border-radius: 100px !important;
    padding: 20px;
    width: 120px;
    height: 120px;
}
.my_bank img:hover{
     background-color: rgba(255, 255, 255, 0.31);
}
.main_heading_p{
    font-size: 25px; 
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.navbar-right {
        margin-right: 25px;
    }
.dropdown, .dropup {
    display: inline;
}
.navbar-nav>li>.dropdown-menu {
    border-radius: 0px;
}
.navbar-nav>li>.dropdown-menu li a .fa {
       color: #053e5b;
       padding: 0px 10px 0px 0px;
}
.navbar-nav>li>.dropdown-menu li a{
        color: #053e5b;
        font-family: 'Roboto', sans-serif;
        font-size: 11.5px;
}

.navbar-nav>li>.dropdown-menu li p{
    padding: 10px 5px 10px 7px;
    font-size: 11.5px;
    background-color: #e6e1e1;
    font-family: 'Roboto', sans-serif;
	color:rgb(111, 107, 107) !important;
}
.icon_bar_menu{
    width: 275px;
}
.view_all_menu{
    position: absolute;
    top: 13px;
    right: 0;
}
.before_profile{
    padding: 30px 20px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.61);
}
.before_profile h3{
    font-size: 25px;
    font-weight: 600;
    color: #000;
    font-family: 'Roboto', sans-serif;
}
.before_profile p{
    font-size: 18px;
    font-weight: 400;
    color: #000;
    font-family: 'Roboto', sans-serif;
}
.before_profile .btn_my_pro{
    border-radius: 3px;
    border: 0px;
    background-color: #002157;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.short_list{
    display: none;
}








/* Media Queries */
@media screen and (max-width: 991px) {

    .navigation .navbar-nav > li > a {
        font-size: 12px;
        padding: 10px;
    }
    .navbar-right {
        margin-right: 0px;
    }
    .icon_navbar_top{
        margin-left: 200px;
        margin-top: -40px;
     }   
    .check_button a {
        color: #fff;
        font-size: 15px;
        padding: 7px;
    }
    .my_profile img{
        width: 90px;
        height: 90px;
    }
     .my_bank img{
        width: 90px;
        height: 90px;
    }
    .my_expect img{
        width: 90px;
        height: 90px;
    }
    .my_document img{
        width: 90px;
        height: 90px;
    }
    .nav-tabs>li.active .on_active_box {
        padding: 4px 0px 0px 24px;
    }

    .nav-tabs > li.active .on_active_box {
        background-image: url(../dashimages/select_icon.png);
        padding: 2px 0px 0px 24px;
    }
    .on_active_box{
        background-image: url(../dashimages/unselect_icon.png);
        padding: 2px 0px 4px 24px;
    }
    .label.label-primary {
    
    left: 23px;
}
}











@media screen and (max-width: 767px) {
    .container > header{
        text-align: center;
    }
    p.codrops-demos {
        position: relative;
        top: auto;
        left: auto;
    }
    .navbar-fixed-top{
        background-color: #525252;
    }
    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 20px;
        color: #fff;
    }
    .navbar-header{
        margin-top: 10px;
    }
    .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-nav .open .dropdown-menu>li>a:hover {
        background-color: rgba(0, 0, 0, 0.12);
    }
    .mobile_nav_icon{
        display: inline;
    }
    .mobile_nav_icon a{
        padding: 20px;
    }
    .navbar-toggle {
        margin-top: 0px;
    }
    .navbar-nav {
        margin: 7.5px -15px;
        background-color: #053e5b;
        text-align: center;
    }
    .navbar-nav li a{
        color: #000;
    }
    .list_n_hide {
        padding: 9px 4px;
    }
    .main_heading_p{
        text-align: center;
        font-size: 17px;
    }
    .check_button li {
        padding: 0px 0px 0 30px;
    }
    .nav-tabs {
        border-bottom: 0px solid #ddd;
        height: 90px;
    }
    .my_profile img {
         width: 100px;
        height: 100px;
    }
    .my_document img {
         width: 100px;
        height: 100px;
    }
    .my_expect img {
         width: 100px;
        height: 100px;
    }
    .my_bank img {
        width: 100px;
        height: 100px;
    }
    .pro_btn{
        font-size: 14px !important;
    }
    .nav-tabs > li > a {
        font-size: 15px;
    }

    
.nav-tabs > li.active .on_active_box {
    background-image: url(../dashimages/select_icon.png);
    padding: 2px 0px 0px 24px;
}
.on_active_box{
    background-image: url(../dashimages/unselect_icon.png);
    padding: 2px 0px 4px 24px;
}
.detail_cont{
    z-index: 999;
}
.icon_bar_menu {
    width: 275px;
    margin-top: 20px;
    margin-left: 6px;
}
.dropdown-menu{
    margin-top: 20px;
}
.label.label-primary {
    left: 32px;
    top: 0px;
}
.dropdown-menu li p{
    padding: 10px 5px 10px 7px;
    font-size: 11.5px;
    background-color: #e6e1e1;
    font-family: 'Roboto', sans-serif;
}
.view_all_menu{
    position: absolute;
    top: 10px;
    right: 0;
}


/*******************MEdia query by amit****************/
.port_let{
	padding:12px 0 !important;
}
.tool_tip:before{
	    right: 5.5% !important;
    border-left-width: 29px!important;
}
.tool_tip{
	width:85% !important;
}
.tooll_tip{
	width:85% !important;
}
.tooll_tip:before{
	    right: 5% !important;
    border-left-width: 29px!important;
}
.tool_tp{
	width:85% !important;
}
.tool_tp:before{
	    right: 5% !important;
    border-left-width: 29px!important;
}
.currnt_ad:before{
	    right: 5.5% !important;
    border-left-width: 29px!important;
}
.currnt_ad{
	width:85% !important;
}
.permnent_ad:before{
	    right: 5.5% !important;
    border-left-width: 29px!important;
}
.permnent_ad{
	width:85% !important;
}
.portlet.light.portlet-fit>.portlet-body{
	padding: 10px 0px 20px 20px !important;
}
.sell_add .add_no{
    padding: 0px 14px !important;
	}
.sell_add{
	margin:10px !important;
}
.common_t .col-md-6{
	height:auto !important;
}


}




@media screen and (max-width: 360px) {
    .check_button li {
        padding: 0px 10px 0px 20px;
    }

    .list_n_hide {
        padding: 17px 0px 0px 3px;
    }
    .list_n_hide {
        font-size: 20px;
    }
    .pro_btn {
        font-size: 9px !important;
        padding: 5px;
    }
    





}
/*********Footer Icons***********
**********/

.footer_link{
	background: #000000;
    padding: 10px 0 5px 0;
    position: fixed;
    bottom: 0;
    text-align: center;
	display:none;
	
	width:100%;
    
}
.footer_link p{
	margin:0 !important;
    
}


.social_ic{
	display:inline-flex;
	list-style:none;
	margin-bottom:0px !important;
}
.social_ic li{
    width: 30px;
    height: 30px;
    padding-top: 7px;
    margin: 0 0 0 10px;
	transition:.4s;
}
.social_ic li .fa{
	color:#ffffff;
	font-size:16px !important;
	transition:.4s;
}
.social_ic li:hover {
	 color: #e5ac31;
	 transition:.4s;
}

.social_ic li:hover .sc_icn{
	 color:#e5ac31;
	 transition:.4s;
}
	
.social_btn{
	width: 40px;
    height: 40px;
    background: #e9b739;
    position: fixed;
    bottom: 0;
    right: 0px;
    /* border-radius: 50%; */
    padding-top: 9px;
    padding-right: 5px;
}
.social_btn .fa{
	color:#ffffff;
	font-size:20px;
}

.footer_mnu {
	  display:inline-flex;
	  list-style:none;
  }
  .footer_mnu li a{
	 padding: 0 12px;
    color: white !important;
	font-family:'Lato',sans-serif!important;
  }
  .footer_mnu li{
	border-right:1px solid #fff;
  }
  .rights_resrv{
	font-size:12px;
	color:#ffffff;
	}
	.social_btn{
	width: 40px;
    height: 40px;
    background: #e9b739;
    position: fixed;
    bottom: 0;
    right: 0px;
    /* border-radius: 50%; */
    padding-top: 9px;
    padding-right: 5px;
}
.social_btn .fa{
	color:#ffffff;
	font-size:20px;
}
.clode_anim{
	position: absolute;
    left: 15px;
    color: #fff;
	cursor:pointer;
	}
	
	
/***************Cmmon Css***************/
.sell_add .add_no{
		    font-size: 26px;
    border-radius: 10px 0 0 10px!important;
    float: left;
    margin: auto;
    padding: 3px 14px;
	border:1px solid !important;
	}
	
/*********************New CSS for lesseeaction**************/
.result_text {
    font-size: 24px;
    font-weight: 600;
    color: #221d36;
    margin: 10px 0 20px;
}
.property_requirment{
    padding:10px 20px;
    box-shadow: 0px 0px 1px #cfcfcf;
    border-bottom: 1px solid #cfcfcf8c;
}
.users_search {
    list-style: none;
    display: inline-flex;
    padding-left: 0;
}
.user_filt {
    padding: 10px 16px 12px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #c4984f;
    font-size: 14px;
    margin: 0 10px;
    cursor: pointer;
}
.user_filt span {
    margin-left: 10px;
}
.buyer_listing {
    background: #f7f7f7;
}
.property_list {
    padding: 30px;
}
.property_detail {
    margin-bottom: 30px;
}
.property_id {
    font-size: 18px;
    color: #ffffff;
    background: #221d36;
    padding: 15px 30px;
    margin: 0;
}
.building_name {
    float: right;
}
.single_property {
    background: #ffffff;
}
.no_pad {
    padding: 0 !important;
}
.prop_detail {
    padding: 8px;
}
.label_name {
    color: #8f8f8f;
    padding-left: 30px;
    font-size: 15px;
}
.company_overview .label_name {
    padding-left: 0 !important;
}
.details_label {
    color: #221d36;
    font-size: 15px;
}
.details_label img {
    margin-right: 10px;
    margin-bottom: 5px;
    width: 21px;
}
.property_manage img {
    width: 16px !important;
}
.amenities_offered {
    padding: 0px 15px;
}
.amenities {
    padding-top: 0px !important;
    margin: 0px 0 10px;
}
.amenities {
    font-size: 15px;
    color: #838383;
}
.amenities_list {
    list-style: none;
    display: inline-flex;
    padding: 0;
}
.amenities_list li {
    padding-right: 25px;
}
.shortlist_call {
    margin-top: 25px;
    text-align: right;
}
.test {
    margin-right: 10px !important;
    background:transparent !important;
}
.short_butn {
    padding: 4px 20px;
    border: 1px solid #c4984f;
    color: #c4984f;
    font-size: 15px;
    transition: .4s;
    border-radius: 0;
    background: #ffffff;
}   
.load_mor {
    width: 300px;
    padding: 12px;
    background: #ffffff00;
    border-radius: 0;
    color: #c4984f;
    border: 1px solid #c4984f;
    font-size: 16px;
    transition: .4s;
    margin: 30px 0;
}
.load_mor:hover{
    background: #c4984f;
    border-radius: 0;
    color: #ffffff;
    border: 1px solid #c4984f;
    font-size: 16px;
	transition:.4s;
}
.call_butn{
	padding: 4px 20px;
    border: 1px solid #c4984f;
    color: #ffffff;
    font-size: 15px;
    transition: .4s;
	border-radius:0;
	background:#c4984f;
}
.call_butn:hover{
	background:#ffffff;
	color: #c4984f !important;
}
.load_mor:focus{
    background: #c4984f;
    border-radius: 0;
    color: #ffffff;
    border: 1px solid #c4984f !important;
    font-size: 16px;
	transition:.4s;
}
.row{
    margin:0 !important;
}

.short_butn{
    padding: 4px 20px;
       border: 1px solid #c4984f;
       color: #c4984f;
       font-size: 15px;
       transition: .4s;
    border-radius:0;
    background:#ffffff;
    }
    .short_butn:hover{
        background:#c4984f;
        color:#ffffff !important;
    }
    .border_yellow{
    border:2px solid #c4984f !important;
    }
    .property_image{
    border:2px solid #ffffff;
    cursor:pointer;
    }
    .map_icons{
    list-style:none;
    padding:80px 0;
       border-left: 1px solid #c4984f;
       border-right: 1px solid #c4984f;
    text-align:center;
    margin:0;
    }
    .map_icons li{
    margin:25px 0;
    }
    .map_icons li img{
    width:25px;
    cursor:pointer;
    }
    .draw_map{
    padding:0;
    border-radius:0;
    }
    .mark_map{
    font-size:34px;
    line-height:42px;
    font-weight:700;
    color:#221d36;
    }
    .map_text{
    font-size:18px;
    line-height:26px;
    color:#afafaf;
    }
    .mark_instruction{
    padding:30px;
    }
    .modal_close{
    position:absolute;
    color:#ffffff !important;
    font-size:35px !important;
    opacity:1;
    top:-40px;
    right:0;
    }
    .modal_dialogue{
    top:4%;
    }
    .button_select{
        padding:6px 0;
        border:1px solid #c4984f;
        color:#c4984f;
        font-size:18px;
        transition:.4s;
        width:100%;
        margin:10px 0;
        background:transparent;
        border-radius:0;
    }
    .button_select:hover{
        color:#ffffff;
        background:#c4984f;
        transition:.4s;
        outline:none;
    }
    .active_butn{
        color:#ffffff !important;
        background:#c4984f !important;
        transition:.4s;
        outline:none !important;
        box-shadow:none !important;
        font-size:18px;
    }
    .sub_categories{
        display:inline-flex;
        list-style:none;
        margin-top:40px;
        padding:0;
    }
    .sub_categories li{
        margin:0 5px;
        display:flex;
    }
    .property_subtype{
        padding:6px 10px;
        border:1px solid #c4984f;
        color:#c4984f;
        font-size:15px;
        transition:.4s;
        cursor:pointer;
    }
    .sub_categories li:hover .property_subtype{
        color:#ffffff;
        background:#c4984f;
        transition:.4s;
    }
    .sub_categories .active .property_subtype{
        color:#ffffff !important;
        background:#c4984f !important;
        transition:.4s;
    }
    .input_desgn {
        background: #ffffff;
        border: 0;
        box-shadow: none;
        border-bottom: 1px solid #afafaf;
        border-radius: 0;
        color: #221d36 !important;
        padding: 20px 7px;
        margin: 7px 0px;
    }
    .site_contain {
        padding: 0 20px 40px;
    }
    .visit_prop {
        font-size: 28px;
        line-height: 42px;
        color: #221d37;
        font-weight: 700;
        margin: 35px 0 15px;
    }
    .prop_ids {
        color: #c4984f !important;
    }
@media(max-width:767px) {

    .ucb_brnd_100{
		width:100%;
	}
	.site_contain{
		padding:0 0px 40px !important;
	}
	#call_modal_child{
		width:100% !important;
		margin:20px 0 !important;
	}
	.property_back{
		padding: 6px 12px !important;
		font-size:16px !important;
	}
	.sliding_menu {
		list-style: none;
		padding-left: 0;
		height: 400px;
		overflow-y: scroll;
	} 
	.office_form{
		height:130vh !important;
	}
	.feature_logo{
		width:100%;
	}
	.featured_links{
		padding:0 !important;	
	}
	.featured_section {
		padding: 20px 10px 40px !important;
	}
	.featured_section img{
		margin-top:10px !important;
	}
	.clients_det{
		padding:0 10px;
	}
	.mobile_pad_form{
		padding:7px 20px;
	}
	.property_id{
        font-size:14px !important;
        padding: 15px 10px !important
	}
	.property_names{
		font-size:14px;
	}
	.property_typess{
		bottom:0px;
	}
	.banner_icon{
		width:50px !important;
	}
	.select_catg{
		left:4px;
		width:98%;
		bottom:-160px;
	}
	.font_call{
		font-size:16px !important;
	}
	.featured_links{
		padding:0;
	}
	.mobile_feature{
		margin-top:10px;
	}
	.check_icon {
		position: absolute;
		right: 10px;
		width: 14px !important;
		margin-top: 0px;
		display: none;
		top: 2%;
	}
	.otp_button{
		font-size:14px !important;
		margin-top:3px;
	}
	.choose_login{
		margin-left: 8px !important;
	}
	.image_property{
		width:100%;
		height:130px;
	}
	.more_detail{
		color:#221d36;
		font-size:21px !important;
		font-weight:600;
		line-height:25px !important;
		padding:30px 0px;
	}
	.manage_image{
		width:100%;
	}
	.property_detail{
		padding:20px 10px !important;
	}
	.details_unit{
		padding:10px 0px 10px 0px !important;
		width:100%;
	}
	.visitors_detail{
		padding:10px 0px 10px 0px !important;
		width:100%;
	}
	.progress_bar {
		padding: 15px 10px 20px !important;
	}
	.unit_details{
		padding:0px !important;
	}
	.additional_property{
		padding: 0 10px 50px !important;
	}
	.buttn_confirm{
		width:100%;
	}
	.float_left{
		float:left;
	}
	.address_row{
		margin-top:30px;
	}
	.seller_lead{
		padding:10px 0px 20px;
	}
	.btn_toggle .btn{
		padding:8px 15px !important;
		margin-right:5px;
		font-size:16px;
	}
	#map-canvas{
		height:320px;
	}
	.pad_right{
		padding-right:0;
	}
	.pad_left{
		padding-right:0;
	}
	.interior_det{
		float:left;
	}
	.brand_txt{
		padding:15px 0;
	}
	.expected_price{
		padding:0px 5px 30px;
	}
	.area_proprty{
		padding:15px 0;
	}
	.pad_rite{
		padding-right:0;
	}
	.sub_categories{
		margin-top:10px;
	}
	.accordion_head .plusminus{
		float: right;
    position: absolute;
    right:7%;
	}
	.prop_location{
		padding:30px 0 !important;
	}
	.avail_ability{
		padding-left:0;
	}
	.unit_details , .progress_bar{
		padding:0 !important;
	}
	.details_label , .label_name{
		font-size:15px;
	}
	.edit_label , .amenity_prop{
		font-weight:500;
		font-size:14px !important;
	}
	.img_input{
		margin:12px 0;
	}
	.amenities_icon{
		padding:0;
	}
	.padd_amen{
		padding:20px 0 !important;
	}
	.edit_input .input_desgn{
		font-weight:500;
		font-size:14px !important;
	}
	.property_edit{
		padding:20px 0 !important;
	}
	.span_sl{
		top:2px;
	}
	.brand_desp{
		margin-top:150px;
	}

	.read_more{
		display:flex;
		font-size:14px;
	}
	.single_blogpage{
		margin-top:80px !important;
	}
	.pad50{
		padding:0 15px;
	}
	.pad_100{
		padding:0;
	}
	.transac_banner{
		padding:15px 0;
	}
	.step_banner{
		padding:10px 0;
	}
	.categ_sec{
		padding:10px 0;
	}
	.step_link{
		padding:8px 0px !important;
		font-size:13px;
	}
	.trans_head_b{
		font-size:22px;
		line-height:26px;
	}
	.buy_sell{
		padding-top:30px;
	}
	.pad_off{
		padding-top:0px;
	}
	.trans_head_b{
		font-size:22px;
		line-height:26px;
	}
	.trans_head{
		font-size:22px;
		line-height:26px;
	}
	.about_head{
		font-size:22px;
		line-height:26px;
	}
	.single_hed{
		font-size:32px;
		line-height:36px;
	}
	.transac_typ{
		font-size:12px;
	}
	.trans_head_b{
		padding-left:15px;
	}
	.lines_main_container{
		padding:0;
	}
	.brand_name{
		font-size:17px;
		line-height:25px;
		padding:10px;
	}
	.li_abc img{
		margin-left: 20px;
	}
	.header_bg{
		height:600px;
	}
	.dot_div{
		height:600px;
	}
	.txt_am{
		font-size:16px;
	}
	.textfirst img {
	 width:27px !important;
	 margin-right:10px !important;
	}
	.textfirst{
		font-size:14px;
		height:42px !important;
		padding-top:9px !important;
		margin-right: 10px;
	}
	.role_drop{
		right: 8px !important;
		top: 22% !important;
		font-size: 20px !important;
		color: #c4984f;
		}
	.sell_png{
		margin-top:0px !important;
	}
	.img_menu{
		display:none;
	}
	.intant_auc{
		width:60px;
	}
	.forward_auc{
		width:85px;
	}
	.reverse_auc{
		width:90px;
	}
	.img_trans{
		height:100px;
	}
	.pad_trans{
		padding-top:10px;
		padding-right:5px;
		padding-left:5px;
	}
	.navbar-default .navbar-toggle .icon-bar{
		background-color:#ffffff !important;
	}
	.site-logo {
    padding: 0px 10px 0 0px!important;
	}
	.location_drop{
		font-size:16px !important;
		margin-right:10px;
	}
	.svg_drop{
		width:18px;
	}
	.close_citydrop {
    position: absolute;
    right: 5%;
    top: 15px;
	}
	.city_section{
		padding:40px 10px 20px;
	}
	.property_name{
		font-size:15px;
	}
	.blog_bg{
		padding:10px;
	}
	.internal_line{
		display:none;
	}
	.blog_c{
		height:600px;
	}
	.blog_c  img{
		height:600px !important;
	}
	.lines_container{
		width:33%;
	}
	.small_hide{
		display:none;
	}
	.small_border{
		 border-right: 1px solid #a095cb;
	}
	.next_back{
		bottom:18%;
	}
	.blog_filter{
		margin-top:20px;
	}
	.resource_form{
		margin-top:20px;
	}
	.post_cancel{
		float:left !important;
		text-align:left !important;
	}
	.cancel_btn{
		padding:7px 30px;
	}
	.post_btn{
		padding:7px 30px;
	}
	.brdr_bottm{
		width:100%;
		float:left;
	}
	.full_width{
		width:100%;
		float:left;
	}
	.pad_lft , .pad_cntr , .pad_rt{
		padding:0
	}
	.single_blogpage{
		padding:30px !important;
	}
.reference_blog{
	padding:0;
}
.card_contct , .faq_contct{
	width:100%;
}
.property_types{
	text-align:center;
}
.sub_categories{
	display:inherit;
}
.display_inline{
	display:inline-flex !important;
}
.sub_categories li {
    margin: 10px 5px;
}
.property_type{
	padding:10px;
}
.category_detail{
	padding:10px;
}
.add_property li{
	width:100%;
	float:left;
}
.property_image1{
	width:100px !important;
	height:100px;
}
#map_canvas{
	height:300px !important;
}
.map_icons{
	padding:10px 0 10px 10px !important;
	border-left:0 !important;
	border-right:0 !important;
	display:inline-flex;
    border-bottom: 1px solid #c4984f;
	width:100%;
}
.map_icons li {
    margin: 5px 15px !important;
}
.pad_right , .pad_left{
	padding:0;
}
.users_search {
    list-style: none;
    display: inherit !important;
    padding: 0 !important;
}
.user_filt{
	margin:10px 0;
}
.property_detail , .property_list{
	padding:5px !important;
}
.blur_image{
	width:100%;
}
.shortlist_call{
	text-align:left !important;
}

.property_flow{
	padding:0;
}
.property_image{
	width:100px;
}
.flow_heading{
	font-size:20px;
}
.property_area{
	padding: 0 10px 10px;
}
.locality_input{
	padding:10px 10px;
}
.property_locality{
	padding:0 20px;
}

.draw_map{
	margin-left:0 !important;
	}
.mark_map{
	font-size:20px;
	line-height:26px;
}	
.map_text {
    font-size: 15px;
	line-height:20px;
}
.prop_priceshow{
	text-align:center; 
}
.testimonial_para{
	font-size:20px;
	line-height:26px;
}
.client_name{
	font-size:18px !important;
}
.testimonial_subtitle{
	font-size:15px !important;
}
.about_bannr{
	padding:0;
}
.call_back a {
    font-size: 16px;
    color: #ffffff;
    padding: 6px 20px;
    background: #c4984f;
}
.padding_enquiry{
	padding:25px;
}
.contact_enquiry{
	padding-left:0;
}

}