html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}
#download{
	display:none !important;
}

body.sticky-footer {
  margin-bottom: 56px;
}

body.sticky-footer .content-wrapper {
  min-height: calc(100vh - 56px - 56px);
}

body.fixed-nav {
  padding-top: 56px;
}

.content-wrapper {
  min-height: calc(100vh - 56px);
  padding-top: 1rem;
}
#notif{

	border: 1px solid #fff;
	border-radius: 50%;
	padding: 0px 4px;
	margin: 0 3px;
	background: red;
	color: #fff;
	height: 17px;
	width: 17px;

}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.smaller {
  font-size: 0.7rem;
}

.o-hidden {
  overflow: hidden !important;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

#mainNav .navbar-collapse {
  overflow: auto;
  max-height: 75vh;
}

#mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
  cursor: pointer;
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  float: right;
  content: '\f107';
  font-family: 'FontAwesome';
}

#mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
  content: '\f105';
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level {
  padding-left: 0;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
  display: block;
  padding: 0.5em 0;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:hover,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:focus,
#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:hover {
  text-decoration: none;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a {
  padding-left: 1em;
}

#mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
  padding-left: 2em;
}

#mainNav .navbar-collapse .sidenav-toggler {
  display: none;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
  position: relative;
  min-width: 45px;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  float: right;
  width: auto;
  content: '\f105';
  border: none;
  font-family: 'FontAwesome';
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .indicator {
  position: absolute;
  top: 5px;
  left: 21px;
  font-size: 10px;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after {
  content: '\f107';
}

#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
  overflow: hidden;
  max-width: none;
  text-overflow: ellipsis;
}

@media (min-width: 992px) {
  #mainNav .navbar-brand {
    width: 250px;
  }
  #mainNav .navbar-collapse {
    overflow: visible;
    max-height: none;
  }
  #mainNav .navbar-collapse .navbar-sidenav {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 56px;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
    width: 250px;
    padding: 0;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    padding: 1em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    padding-left: 0;
    list-style: none;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li,
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li {
    width: 250px;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    padding: 1em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a {
    padding-left: 2.75em;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    padding-left: 3.75em;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
    min-width: 0;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
    width: 24px;
    text-align: center;
  }
  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
    max-width: 300px;
  }
}

#mainNav.fixed-top .sidenav-toggler {
  display: none;
}

@media (min-width: 992px) {
  #mainNav.fixed-top .navbar-sidenav {
    height: calc(100vh);
  }
  #mainNav.fixed-top .sidenav-toggler {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: calc(100vh - 56px);
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item {
    width: 250px;
    padding: 0;
  }
  #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
    padding: 1em;
  }
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
  background-color: #212529;
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
  color: #adb5bd;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler {
  background-color: #dee2e6;
}

#mainNav.fixed-top.navbar-light .sidenav-toggler a i {
  color: rgba(0, 0, 0, 0.5);
}

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
  overflow-x: hidden;
  width: 55px;
}

body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item,
body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
  width: 55px !important;
}

body.sidenav-toggled #mainNav.fixed-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

#mainNav.static-top .sidenav-toggler {
  display: none;
}

@media (min-width: 992px) {
  #mainNav.static-top .sidenav-toggler {
    display: flex;
  }
}

body.sidenav-toggled #mainNav.static-top #sidenavToggler i {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';
}

.content-wrapper {
  overflow-x: hidden;
  background: white;
}

@media (min-width: 992px) {
  .content-wrapper {
    margin-left: 250px;
  }
}

#sidenavToggler i {
  font-weight: 800;
}

.navbar-sidenav-tooltip.show {
  display: none;
}

@media (min-width: 992px) {
  body.sidenav-toggled .content-wrapper {
    margin-left: 55px;
  }
}

body.sidenav-toggled .navbar-sidenav {
  width: 55px;
}

body.sidenav-toggled .navbar-sidenav .nav-link-text {
  display: none;
}

body.sidenav-toggled .navbar-sidenav .nav-item,
body.sidenav-toggled .navbar-sidenav .nav-link {
  width: 55px !important;
}

body.sidenav-toggled .navbar-sidenav .nav-item:after,
body.sidenav-toggled .navbar-sidenav .nav-link:after {
  display: none;
}

body.sidenav-toggled .navbar-sidenav .nav-item {
  white-space: nowrap;
}

body.sidenav-toggled .navbar-sidenav-tooltip.show {
  display: flex;
}
/* width */
.dash_sidenav::-webkit-scrollbar {
	width: 5px;
}

/* Track */
.dash_sidenav::-webkit-scrollbar-track {
	background: #f1f1f1; 
}

/* Handle */
.dash_sidenav::-webkit-scrollbar-thumb {
	background: #888; 
}

/* Handle on hover */
.dash_sidenav::-webkit-scrollbar-thumb:hover {
	background: #555; 
}
.dash_sidenav{overflow-y:scroll;}
.sub_menuu li a{
font-size: 14px !important;
	background: #c1a5a5;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
	color: #ffffff;
	position:relative;
	right:10px;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  color: #868e96;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
  color: #adb5bd;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
  color: #868e96;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
  color: #adb5bd;
}

#mainNav.navbar-dark .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  color: #adb5bd;
}

@media (min-width: 992px) {
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    background: #343a40;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
    color: #10101d !important;
    background-color: #ffffff;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover {
    color: white;
  }
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    background: #343a40;
  }
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
  color: rgba(0, 0, 0, 0.5);
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus,
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover {
  color: rgba(0, 0, 0, 0.7);
}

#mainNav.navbar-light .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav {
    background: #f8f9fa;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {
    color: #000 !important;
    background-color: #e9ecef;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {
    color: #000;
  }
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
    background: #f8f9fa;
  }
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -25px;
  right: -25px;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 2;
  }
}

.card-login {
  max-width: 25rem;
}

.card-register {
  max-width: 40rem;
}

footer.sticky-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  background-color: #e9ecef;
  line-height: 55px;
}

@media (min-width: 992px) {
  footer.sticky-footer {
    width: calc(100% - 250px);
  }
}

@media (min-width: 992px) {
  body.sidenav-toggled footer.sticky-footer {
    width: calc(100% - 55px);
  }
}
/********Custom CSS**********/
a{
	text-decoration:none !important;
	cursor:pointer;
}

.neela_bg{
	background:#10101d !important; 
	padding:0 !important;
	margin:0;	
}
.body_bg{
	background:#D9E1F8;
	padding:25px;
}
.logo_nav{
	padding:0;
	text-align:center;
}
.dash_sidenav{
	background:#0FD8DA !important;
}
.dash_sidenav a{
	color:#fff !important;
}
/***********Profile Details*********/
#userrole{
	color:#0fd8da;
}
.user_i{
	    padding: 0 5px;
}
.user_img{
	width:40%;
	float:left;
}
.user_info{
	width:60%;
	float:left;
	padding-left:5px;
}
.image_u{
	width:130px;
	height:140px;
	border-radius:50%;
}
.small_prof{
	width:100px;
	height:100px;
	border-radius:50%;
}
.user_det{
	margin:6px 0;
	font-weight:600;
	font-family: 'Lato', sans-serif;
}
.percent_prof{
    width: 70px;
    height: 70px;
    border: 3px solid #10101d;
    border-radius: 50%;
    text-align: center;
    padding-top: 22px;
    font-weight: bold;
	margin:6px auto;
}
.user_progrss{
	list-style:none;
	padding:0;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	margin:0;
}
.edit_proof{
	    float: left;
    width: 100%;
    padding: 24px 25px;
	margin:0;
}
.edit_butn{
	padding:9px 35px;
	background:#10101d;
	color:#fff !important;
	transition:.4s;
	border-radius:5px;
}
.edit_butn:hover{
	background:#fff;
	color:#10101d !important;
	transition:.4s;
	border:1px solid #10101d;
}
.profile_div{
	padding: 40px 40px 20px 40px;
    background: #ffffff;
    border-radius: 10px;

}
.prof_card{
	margin-top:40px;
}
.span_prof{
	    position: relative;
    bottom: 25px;
}
.notification_list li{
	    float: left;
    font-family: 'Roboto', sans-serif;
    padding: 3px 0;
    font-size: 12px;
}
}
.user_progrss li{
	padding:0 10px;
}
.notification_list{
	padding-right:20px;
}
.notification_list li a{
	    padding: 15px 15px;
}
.list_ul{
	width:220px;
	padding:10px;
}
.notif_icon:hover{
	background:#d9e1f8 !important;
	color:#10101d !important;
}
.notif_icon  i{
	font-size:18px !important;
}
/********REsponsice css********/
@media screen and (max-width: 767px) {
	
	.user_img{
	width:100%;
	float:left;
	text-align:center;
}
.body_bg{
	padding:10px !important;
	margin-top:30px;
}
.user_info{
	width:100%;
	float:left;
	text-align:center;
}
.edit_proof{
	text-align:center;
}
.profile_div {
    padding: 20px;
	}
.notification_list li{
		float:left;
	}
.prof_card {
    margin-top: 80px;
	}
.progress_chrt{
	float:left;
	width:100%;
}
.user_progrss{
	display:inline-flex;
}
.user_progrss li{
	padding:0 10px;
}
.notification_list{
	float:right;
	padding-top:5px;
}
.notification_list li a{
	    padding: 15px 15px;
}
.notification_list{
	padding-right:0 !important;
}
#searches{width:100% !important;
margin:6px 0;
right:0 !important;}
.filter_s{
	border:none !important;
	margin:7px 0;
}
.another_search_detail{background:transparent !important;} 
.another_search_detail div{padding:0 !important;} 
.dash_sidenav{padding-left:20px;}
}
.prof_info{
	margin:0 auto;
}

/*************Add property css*************/
.active_tab{
	background:#10101d;
	color:#0FD8DA !important;
	border-right:2px solid #E9EEFB;
	text-transform:uppercase;
	padding:10px;
	font-size:14px;
	text-align:center;
}
.bordr_rds{
	border-radius:10px 0px 0px 10px;
}
.bordr_rds_rt{
	border-radius:0px 10px 10px 0px;
}
.othr_tab{
	background:#0FD8DA;
	color:#10101d !important;
	border-right:2px solid #E9EEFB;
	padding:10px;
	font-size:14px;
	text-transform:uppercase;
	text-align:center;
	}
.no_bordr{
	border:0px !important;
}
.main_cont{
	background:#ffffff;
	border-radius:10px;
	padding:20px 30px;
	margin:20px 0;
}
.add_prprt{
	font-size:28px;
	font-family: 'Roboto', sans-serif;
}
.add_prprt span{
	border-bottom: 2px solid #0FD8DA;
    padding: 5px 0;
}
.one_inpt::placeholder{
	color:#0FD8DA;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
}
.one_inpt{
	border:1px solid #0fd8da;
	color:#0FD8DA;
	font-size:14px;
	margin:10px 0;
	font-family: 'Open Sans', sans-serif;
}
.control-label{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}
.help-block{
	font-size:12px;
	color:red;
}
.head_pd{
	padding:10px 20px;
}
.save_frm{
	padding:20px;
}
.save_frm .save_buttn{
	padding:8px 35px;
	background:#10101d;
	color:#ffffff;
	transition:.4s;
}
.save_buttn:hover{
	background:#fff;
	color:#10101d;
	transition:.4s;
	border:1px solid #10101d;
}
.location_sb{
	padding:2px 25px ;
	background:#10101d !important;
	color:#ffffff ;
	transition:.4s;
}
.location_sb:hover{
	background:#fff !important;
	color:#10101d !important;
	transition:.4s;
	border:1px solid #10101d;
}
.sbmt_butn .btn{
	padding:8px 35px;
	background:#10101d;
	color:#ffffff;
	transition:.4s;
	border:1px solid #10101d !important; 
}
.sbmt_butn .submt_frm:hover .submt_frm{
	background:#fff !important;
	color:#10101d;
	transition:.4s;
	border:1px solid #10101d !important;
}
.addi_butn{
	padding:8px 35px;
	background:#10101d;
	color:#ffffff;
	transition:.4s;
	border:1px solid #10101d !important; 
}
.addi_butn:hover {
	background:#fff !important;
	color:#10101d;
	transition:.4s;
	border:1px solid #10101d !important;
}
.pad_exp{
	padding:10px 0;
}
.nav_menu{
	margin:0 auto;
}
.nav_menu li .nav-link{
	color:#ffffff !important;
}
.left_noti{
	left:-290px !important;
}
.nav_pd{
	padding:0 20px;
}
.form-section{
	font-family: 'Open Sans', sans-serif;
}
.upload_bar .progress{
	display:none;
} 
/**********ADDProperty expectation********/
.expect_form{
	background:#ffffff;
	padding:20px;
	border-radius:10px;
}
.input-container {
    display: -ms-flexbox !important; /* IE10 */
    display: flex !important;
    width: 100% !important;
    margin-bottom: 15px !important;
}

.icon_txt {
  padding: 5px 10px;
    background: #0fd8da;
    color: white;
    text-align: center;
    position: relative;
    right: 3px;
	border-radius: 0 10px 10px 0;
}

.input-field {
    width: 100% !important;
    outline: none !important;
}

.input-field:focus {
    border: 2px solid dodgerblue !important;
}

/* Set a style for the submit button */
.margin_expct .btn {
    background-color: dodgerblue !important;
    color: white !important;
    padding: 15px 20px !important;
    border: none !important;
    cursor: pointer !important;
    width: 100% !important;
    opacity: 0.9 !important;
}

.margin_expct .btn:hover {
    opacity: 1 !important;
}
.form-group{
	margin:0;
}
.margin_expct .one_inpt{
	margin:0 !important;
}
.margin_expct{
	margin:35px 0;
}
.create_butn{ 
	    padding: 9px 35px;
    background: #10101d;
    border: 0;
    margin: 0 15px;
	transition:.4s;
}
.create_butn:hover{
	background:#fff;
	color:#10101d;
	transition:.4s;
	border:1px solid #10101d;
}

/**********USER PROFILE SECTION**************/

.user_particular{
	    padding: 20px;
    background: #fff;
    border-radius: 10px;
}
.sellr_proprty{
	    padding: 20px;
    background: #fff;
    border-radius: 10px;
}
.table_common thead{
	background:#0FD8DA;
}
.tabl_docs thead{
	background:#0FD8DA;
}
.tabl_docs thead th a{
	color:#ffffff;
	font-weight:400;
	font-family: 'Lato', sans-serif;
}
.table_common thead th a{
	color:#ffffff;
	font-weight:400;
	font-family: 'Lato', sans-serif;
}
.tabl_docs thead th{
	color:#ffffff !important;
	font-weight:400;
	font-family: 'Lato', sans-serif;
}
.table_common thead th{
	color:#ffffff !important;
	font-weight:400;
	font-family: 'Lato', sans-serif;
}

.table_common td{
	color:#10101d !important;
	font-weight:400;
	font-family: 'Lato', sans-serif;
	font-size:14px;
	    padding: 8px 20px;
}
.table_common .glyphicon{
	color:#10101d !important;
	font-weight:400;
	font-family: 'Lato', sans-serif;
	font-size:14px;
}
.table_common .summary{
	color:#B8B8B9 ;
	font-weight:400;
	font-family: 'Lato', sans-serif;
	font-size:14px;
}
.exp_titl {
	color:#10101d ;
	font-weight:400;
	font-family: 'Roboto', sans-serif;
	font-size: 27px;
    padding: 0 0 30px 0;
}
.note_sam {
	color:#10101d ;
	font-weight:400;
	font-family: 'Roboto', sans-serif;
	font-size: 27px;
    padding: 10px 0 10px 0;
}
.totl_docs{
	    font-size: 20px;
    font-weight: bold;
    padding-top: 1px;
	font-family: 'Roboto', sans-serif;
}
.table_common .form-control{
	border-radius:20px;
}
.exp_name{
	    border-bottom: 2px solid #0FD8DA;
    padding: 4px 0px;
}
.map_mrkr{
	    float: right;
    color: #0FD8DA;
    font-size: 21px;
}
.update_icn{
	font-size:15px;
	color:#0FD8DA;
	padding:0 5px;
}
	
	.mrgin_top{
		margin-top:25px;
	}
	.mrgin_top .btn-primary{
		background:#0FD8DA !important;
		border:0px !important
	}
	.documnt_up{
		margin-bottom:30px;
	}
	.add_property_btn_p{
		    text-align: right;
    margin: 0;
    padding-top: 8px;
	}
	.note_sam{
		
	}
	.padding_cont{
		padding-top:12px;
	}
	.addres .form-group{
		margin-top:10px;
	}
	#savedatadocs{
		float: right;
		margin: -41px 0px 0px 0px;

	}
	#savedata{
		float: right;
		margin: -41px 0px 0px 0px;

	}
	.margin_prof{
		margin-bottom:20px;
	}

/*********USER STEPS*************/

/* Hide all steps by default: */
.tab {
  display: none;
}

.butn_styl {
  background-color: #10101d;
  color: #ffffff;
  border: none;
  padding: 8px 30px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  margin-top:20px;
  border-radius:10px;
  font-family: 'Roboto', sans-serif;
}

.butn_styl:hover {
  border:1px solid #10101d;
  color:#10101d;
  background:#ffffff;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
.anchr_styl{
	padding:10px 0;
	background:#0FD8DA;
	color:#ffffff;
}
.nav_anchr{
	color:#ffffff !important;
	padding:10px 140px;
}
.pass_tb .active{
	background:#10101d !important;
}
.pass_tb{
	margin-bottom:15px;
}
.bordr_a{
	border-radius:10px 0 0 10px;
}
.bordr_b{
	border-radius:0 10px 10px 0;
}
/***********Search new design-------------*/

.lite_clr{
	color:#0FD8DA;
	font-family: 'Open Sans', sans-serif;
}
.white_cl{
	color:#ffffff;
	font-family: 'Open Sans', sans-serif;
}
.prop_list{
	background:#ffffff;
	font-family: 'Open Sans', sans-serif;
	border-radius:10px;
	margin:20px 0;
	box-shadow:0 0 1px #0fd8da;
}
.prop_img{
	width:100%;
	border-radius:10px 10px 0 0;
	height:250px;
	min-height:250px;
}
.prpr_hed{
	color:#10101d;
	font-weight:bold;
	font-size:18px;
	font-family: 'Open Sans', sans-serif;
}
.pror_detl{
	margin:5px 0;
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
}
.more_detail{
	padding:7px 8px;
	background:#0FD8DA;
	color:#fff !important;
	font-family: 'Lato', sans-serif;
	transition:.4s;
	border-radius:8px;
	margin:15px 0;
}
.more_detail:hover{
	background:#fff;
	color:#0FD8DA !important;
	border:1px solid #0fd8da;
	transition:.4s;
}
.lite_clr .fa{
	font-size:18px !important;
}
.white_cl .fa{
	font-size:18px !important;
}
.bordr_lw{
	border-radius:0 0 10px 10px;
	background:#0fd8da;
	color:#ffffff;
	font-family: 'Lato', sans-serif;
}
.app_rch{
	font-size:14px;
	font-family: 'Lato', sans-serif;
	color:#ffffff !important;
	padding:12px 1px;
}
.brdr_b{
	border-left:1px solid #ffffff;
	border-right:1px solid #ffffff;
}
.bank_panl{
	box-shadow:0 0 1px #0fd8da;
	padding:13px;
	margin:15px 0;
}
.bank_panl .accordion-toggle{
	font-size:20px;
	font-weight:400 !important;
	color:#0fd8da;
	font-family: 'Lato', sans-serif;
}
/*****************CSS END***************/
/*****************Responsive CSS*****************/
@media screen and (max-width: 767px) {
	.logo_nav{
		padding:0 0 0 10px;
	}
	.first_li{
	padding:0 5px 0 0 !important;
}
.prop_contnt .padd_li{
	padding:0px 10px !important;
}
.prop_img{
	width:100%;
}
.heading_prop{
	margin-top:10px;
}
.abt_prop{
	margin-bottom:10px;
}
	.margin_toggl{
		margin-right:20px;
	}
	.othr_tab{
		margin:10px 0;
		border:none;
	}
	.bordr_rds{
		border-radius:0px;
	}
	.active_tab{
		border:none;
	}
	.mt-element-step{
		padding-top:60px;
	}
	.small_frm{
		margin:10px 0;
	}
}

/*************Site Visit Css**************/
.prop_img{
	width:100%;
	margin:0 auto;
}
.prop_contnt{
	list-style:none;
	display:inline-flex;
	padding:0px;
	margin:0;
}
.prop_contnt .padd_li{
	padding:0px 20px;
}
.first_li{
	padding:0 20px 0 0px;
}
.des_hed{
	color:#0FD8DA;
	text-transform:uppercase;
	font-size:12px;
	margin:3px 0;
	font-family: 'Roboto', sans-serif;
	font-weight:bold;
}
.des_txt{
	font-size:11px;
	font-weight:bold;
	font-family: 'Roboto', sans-serif;
}
.abt_head{
	font-size:14px;
	font-weight:bold;
	font-family: 'Roboto', sans-serif;
}
.new_serch{
	margin:5px 0;
}
.abt_prop{
	font-size:11px;
	font-family: 'Roboto', sans-serif;
	color:#0FD8DA;
}
.heading_prop{
	font-size:17px;
	font-family: 'Roboto', sans-serif;
}
.property_detail{
	    background: #fff;
    margin-top: 30px;
    padding: 20px;
	box-shadow:0px 0px 2px #a2a2b1;
	border-radius:10px;
}
.place_bid{
	padding:8px 30px;
	background:#161625;
	color:#fff !important;
	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	text-decoration:none !important;
	font-size:11px;
	transition:.4s;
}
.place_bid:hover {
	border:1px solid #161625;
	color:#161625 !important;
	background:#fff;
	transition:.4s;
}
.bid_butn{
	margin-top:15px;
	
}
.holi-row-form{
	padding-top:25px;
}
.img_site{
	width:100%;
}
.site_h span{
	font-size: 20px;
	font-weight:bold;
	font-family: 'Roboto', sans-serif;
	border-bottom:2px solid #0fd8da;
}
.site_det{
    list-style: none;
    display: inline-flex;
	margin:5px 0 0 0;
}
.site_det li{
    font-size: 16px;
	font-weight:bold;
	font-family: 'Roboto', sans-serif;
	padding:0 5px;
}
.modal{
	opacity:1 !important;
}
.view_img{
	width:100%;
	margin:0 auto;
}
.carousel-inner img{
	height:500px !important;
	width:920px;
}
.carousel-control-prev{
	    background: #0000003d;
}
.carousel-control-next{
	 background: #0000003d;
}

.doc_pric{
	font-family: 'Open Sans', sans-serif;
	font-size:25px;
	padding:10px;
	background:#0fd8da;
	color:#ffffff;
}
.full_wdth{
	width:100%;
}
.img_p{
	width: 120px;
	height: 110px;
	background: #0fd8da;
	margin: 0 auto;
	border-radius: 10px;
}
.brdr_btm{
	border-bottom:2px solid #0fd8da;
}
.brdr_rite{
	border-right:2px solid #0fd8da;
}
.p_txt{
	font-size:13px;
	font-family: 'Open Sans', sans-serif;
}
.sbmt_div{
			background: #0fd8da;
	padding: 5px 10px;
	border-radius: 1px 0px 10px 10px;
}
.modal_pay{
	background:transparent;
	border:none;
}
.clos_bid{
	position: absolute;
	top: 44px;
	z-index: 99;
	opacity: 1;
	right: 50px !important;
}

/******************NOTIFICATIONS CSS ******************/
.circle_icon{
	width: 40px;
height: 40px;
border: 1px solid #10101d;
text-align: center;
padding-top: 6px;
border-radius: 50%;
background: #10101d;
color: #fff;
text-transform:uppercase;
}
.repeat_notif{
	padding: 10px 0;
	background: #d1d8e2;
	border-radius: 1px;
	padding-left: 20px;
	border-top:1px solid #ffffff;
}
.notif_seen{
	padding: 10px 0;
	background: #f5f8fb;
	border-radius: 1px;
	padding-left: 20px;
	border-top:1px solid #ffffff;
}

.repeat_notif:hover{
	background:#f5f8fb;
}
.notif_anchr{
	color:#10101d;
}
.divider_cs{
	margin:0;
}
.notif_drp{
	background: #d1d8e2;
	padding-top:10px;
	padding-bottom:10px;
	white-space:inherit;
}

.notif_drpseen{
	background: #f5f8fb;
	padding-top:10px;
	padding-bottom:10px;
	white-space:inherit;
}