.hide_me{
     opacity:0;
}
.visible{
     opacity:1;
}
header ul li { 
	border-right: 2px solid #fff; 
}
header ul .last { 
	border-right: none;
}
.opaque-navbar {
    background-color: rgba(0,0,0,0.78);
    height: 67px;
    border-bottom: 0px;
    margin-left: 40px;
    transition: background-color .5s ease 0s;
}
header .navbar-fixed-top {
    top: 12px;
    max-width: 94%;
    border-radius: 5px 5px 5px 5px;
}
header .navbar-brand img{
	width: 110px;
}
header .navbar-brand {
    padding: 0px;   
}
header .navbar-nav{
	padding: 25px 4px;
}
header .navbar-inverse .navbar-nav>li>a {
    color: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 12.5px;
    margin-right: -4px;
    font-family: 'Roboto', sans-serif;
    margin-left: -4px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 470px;
}
header .form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 6px 40px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0px -3px 1px rgba(0,0,0,.075);
    font-family: 'Roboto', sans-serif;
}
header label {
    font-weight: 400;
}
header .form-group .btn{
    margin: 0 auto;
    width: 40%;
    width: 40%;
    border: 0px;
    border-radius: 25px;
    background-color: #5584ff;
    color: #fff;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

header .form-group .text-center a:hover, a:active, a:focus, a:visited{
  color: #333;
  outline: none;
  text-decoration: none;
}
header .dropdown h6{
    font-family: 'Roboto', sans-serif;
}
header .dropdown h6:hover{
    font-family: 'Roboto', sans-serif;
    color:#000;
}
header .dropdown b{
    font-family: 'Roboto', sans-serif;
    color:#6da0cb;
}
header .dropdown b:hover{
    font-family: 'Roboto', sans-serif;
    color:#000;
}
header .fa{
    position: relative;
    top: 3px;
    left: -4px;
    font-size: 22px;
}
header .first{
    position: relative;
    top: 36px;
    left: 11px;
    font-size: 22px;
    color: #989899;
}
header .second{
    position: relative;
    top: 36px;
    left: 11px;
    font-size: 22px;
    color: #989899;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:#fff;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .registerhead1{
  margin-left: 180px;
}
#login-dp .registerhead{
  margin-left: 160px;
}

#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-gplus{
    color: #fff;
    background-color:#e04c40;
}
.btn-gplus:hover{
    color: #fff;
    background-color:#de4a3e;
}
#slider .carousel-inner{
  background-image: url(../img/homebanner.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  
}
#slider .carousel-caption {
    right: 0%; 
    left: 0%; 
    padding-bottom: 30px;
    top: 50px;
    /*background-color: rgba(26, 74, 86, 0.65); */
    height: 100px;
}
#slider .carousel-caption h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;  
    font-weight: 600; 
    color: #fa5800;
    
}
#slider .carousel-caption .centertext{
    background-color: rgba(44, 80, 116, 0.53);
    padding: 15px;
    position: absolute;
    top: 217px;
    left: -38px;
    right: -15px;
}
#slider .carousel-caption .centertext h2{
    color: #f0ff03;
    font-size: 23px;
    padding-bottom: 5px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
#slider .carousel-caption .lasttext{
    background-color: rgba(44, 80, 116, 0.53);
    padding: 19px;
    position: absolute;
    top: 148px;
}
#slider .carousel-caption .lasttext .btn{
    background-color: #00aeef;
    border:0px;
    border-radius: 0px;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}    
#slider .carousel-caption .lasttext h2{
   font-size: 37px;
    font-weight: 600;
    color: #90ff00;
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
#slider .carousel-caption .lasttext p{
   font-size: 23px;
   font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
    line-height: 1.2;
    text-align: left;
}
#slider .carousel-caption .centertext{
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-iteration-count: infinite;
}
.clock {
    background: #fff;
    width: 165px;
    height: 4px;
    position: absolute;
    top: 250px;
    left: 155px;
}
.clock1 {
    background: #f9bc01;
    width: 6px;
    height: 128px;
    transform-origin: bottom right;
    animation: rotate 5s infinite;
    -webkit-animation: rotate 5s infinite;
    position: absolute;
    top: 126px;
    left: 180px;
}

@-webkit-keyframes rotate {
    100% {
        transform: rotate(90deg);
    }
}
.clock2{
    width: 20px;
    height: 20px;
    background-color: #f9bc01;
    border-radius: 50px;
    position: absolute;
    top: 240px;
    left: 173px;
}

#manycircle{
    background: -webkit-radial-gradient(#f8f9fb, #cfd4da); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#f8f9fb, #cfd4da); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient(#f8f9fb, #cfd4da); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#f8f9fb, #cfd4da); /* Standard syntax (must be last) */
}
#manycircle .maincir{
  margin-top: 200px;
  margin-bottom: 300px;
}
#manycircle .circle1 {
    background-color: #10728d;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    position: absolute;
    border: 10px solid #fff;
    top: 0px;
    right: -159px;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
}
#manycircle .circle1:hover{
  background-color: #012f3c;
  border: 10px solid #10728d;
}
#manycircle .circle2 {
    background-color: #d4184b;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 10px solid #fff;
    position: absolute;
    top: -65px;
    right: -10px;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
    
}
#manycircle .circle2:hover{
  background-color: #7d0626;
  border: 10px solid #d4184b;
}
#manycircle .circle3 {
    background-color: #e9a419;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 10px solid #fff;
    position: absolute;
    top: 0;
    left: -4px;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
}
#manycircle .circle3:hover{
  background-color: #775208;
  border: 10px solid #e9a419;
}
#manycircle .circle4 {
    background-color: #4d3b37;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 10px solid #fff;
    position: absolute;
    top: -67px;
    right: 289px;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
}
#manycircle .circle4:hover{
  background-color: #bf8578;
  border: 10px solid #4d3b37;
}
#manycircle .outerheading1{
    font-size: 13px;
    position: absolute;
    font-weight: 600;
    top: 0px;
    left: 111px;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
}
#manycircle .outerheading2{
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    top: 142px; 
    left: 170px;
    text-align: left;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
}
#manycircle .outerheading3{
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    bottom: 50px;
    right: 154px;
    text-align: right;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
}
#manycircle .outerheading4{
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    top: 40px;
    left: 0px;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
}

#manycircle .circle1 p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 55px 0 0 0;
}
#manycircle .circle2 p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 55px 0 0 0;
}
#manycircle .circle3 p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 55px 0 0 0;
}
#manycircle .circle4 p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 55px 0 0 0;
}




/* code to show at 764px*/
#manycircle .maincir1{
    margin-top: 50px;
    margin-bottom: 50px;
}
#manycircle .circle11 {
    background-color: #10728d;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 10px solid #fff;
    margin: 0 auto;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
}
#manycircle .circle11:hover{
  background-color: #012f3c;
  border: 10px solid #10728d;
}
#manycircle .circle22 {
    background-color: #d4184b;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 10px solid #fff;
    margin: 0 auto;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
}
#manycircle .circle22:hover{
  background-color: #7d0626;
  border: 10px solid #d4184b;
}
#manycircle .circle33 {
    background-color: #e9a419;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 10px solid #fff;
    margin: 0 auto;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
}
#manycircle .circle33:hover{
  background-color: #775208;
  border: 10px solid #e9a419;
}
#manycircle .circle44 {
    background-color: #4d3b37;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 10px solid #fff;
   margin: 0 auto;
   -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
}
#manycircle .circle44:hover{
  background-color: #bf8578;
  border: 10px solid #4d3b37;
}
#manycircle .outerheading11{
    font-size: 13px;
    font-weight: 600;    
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
}
#manycircle .outerheading22{
    font-size: 13px;
    font-weight: 600;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
}
#manycircle .outerheading33{
    font-size: 13px;
    font-weight: 600;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
}
#manycircle .outerheading44{
    font-size: 13px;
    font-weight: 600;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
}

#manycircle .circle11 p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 55px 0 0 0;
}
#manycircle .circle22 p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 55px 0 0 0;
}
#manycircle .circle33 p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 55px 0 0 0;
}
#manycircle .circle44 p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 55px 0 0 0;
}



#howitwork{
  background-color: #2b2b2b;
}
#howitwork .text-center h2{
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 35px;
}

#howitwork .hovercircle1 {
    color: #fff;
    background-color: #e3335a;
    padding: 14px;
    text-align: justify;
    display: none;
    position: absolute;
    top: -138px;
}
#howitwork .inner1{
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    text-align: center;
    color: #fff; 

}
#howitwork .inner1:hover{
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
     text-align: center;
     color: #fff;
}
#howitwork .inner1 h1{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
    margin-top: -10px;
    color: #e4345b;
}
#howitwork .inner1 p{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  margin-top: -10px;
}
#howitwork .inner1 #icon{
      font-size: 60px;
      padding: 15px;
      color: #e4345b; 
}
#howitwork .inner1 .incircle{
    background-color: #f3f4f5;
    margin: 0 auto;
    width: 180px;
    height: 180px;  
    border-radius: 100px;
    color: #000;
    border: 18px solid #e4345b;
}
#howitwork .inner1 .boxcontent h3{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #e4345b;
}
#howitwork .inner1 .boxcontent p{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}
#howitwork .hovercircle2 {
    color: #fff;
    background-color: #b2d23d;
    padding: 14px;
    text-align: justify;
    display: none;
    position: absolute;
    top: -138px;
}
#howitwork .inner2{
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    text-align: center;
  color: #fff;
       
}
#howitwork .inner2:hover{
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
     text-align: center;
  color: #fff;
}
#howitwork .inner2 h1{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
    margin-top: -10px;
    color: #b2d23d;
}
#howitwork .inner2 p{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  margin-top: -10px;
}
#howitwork .inner2 #icon{
      font-size: 60px;
      padding: 15px;
     color: #b2d23d;
     
}
#howitwork .inner2 .incircle{
    background-color: #f3f4f5;
    margin: 0 auto;
    width: 180px;
    height: 180px;  
    border-radius: 100px;
    color: #000;
    border: 18px solid #b2d23d;
}
#howitwork .inner2 .boxcontent h3{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #b2d23d;
}
#howitwork .inner2 .boxcontent p{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}
#howitwork .hovercircle3 {
    color: #fff;
    background-color: #66c4ae;
    padding: 14px;
    text-align: justify;
    display: none;
    position: absolute;
    top: -138px;
}
#howitwork .inner3{
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    text-align: center;
  color: #fff;
       
}
#howitwork .inner3:hover{
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
     text-align: center;
     color: #fff;
}
#howitwork .inner3 h1{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin-top: -10px;
  color: #66c4ae;
}
#howitwork .inner3 p{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  margin-top: -10px;
}
#howitwork .inner3 #icon{
      font-size: 60px;
      padding: 15px;
      color: #66c4ae;
      
}

#howitwork .inner3 .incircle{
    background-color: #f3f4f5;
    margin: 0 auto;
    width: 180px;
    height: 180px;  
    border-radius: 100px;
    color: #000;
    border: 18px solid #66c4ae;
}
#howitwork .inner3 .boxcontent h3{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #66c4ae;
}
#howitwork .inner3 .boxcontent p{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
}
#contact .text-center h2{
  font-family: 'Roboto', sans-serif;
  color: #212121;
  text-align: center;
  font-weight: 600;
  margin: 0 0 40px 0;
  font-size: 35px;
}
#contact .text-center span{
  border-bottom: 7px solid #f0b833;
    padding-bottom: 15px;
}
#contact .text-center p{
  margin:0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #212121;
  font-size: 16px;
}
#contact .map{
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
}
#contact .address{
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
}
#contact .contactform{
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-transition-animation-duration: 2s;
}
#contact .address h3{
  font-family: 'Roboto', sans-serif;
  color: #646262;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
}
#contact .address p span{
  font-family: 'Roboto', sans-serif;
  color: #646262;
  text-align: justify;
  font-weight: 600;
  font-size: 14px;
}
#contact .address p{
  font-family: 'Roboto', sans-serif;
  color: #646262;
  text-align: justify;
  font-weight: 400;
  font-size: 14px;
}
#contact .contactform h3{
  font-family: 'Roboto', sans-serif;
  color: #646262;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
}

#contact .contactform .btn{
    float: right;
    width: 45%;
    background-color: #262626;
    color: #c6c6c6;
    font-size: 12px;
    border: none;
    border-radius: 0px;
}
#fotter{
	background-color: #232323;
}
#fotter p{
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-align: justify;
	font-weight: 400;
}
#fotter h2{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-align: justify;
	font-weight: 600;
	margin-top: 0px;
}
#fotter ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
#fotter ul.social-network li {
  display: inline;
  margin: 0 -7px;
  padding: 0 0 0 4px;
  float: left;
}

#fotter .social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
#fotter .social-network a.icoTwitter:hover {
  background-color:#33ccff;
}
#fotter .social-network a.icoGoogle:hover {
  background-color:#BD3518;
}
#fotter .social-network a.icoVimeo:hover {
  background-color:#0590B8;
}
#fotter .social-network a.icoLinkedin:hover {
  background-color:#007bb7;
}
#fotter .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
#fotter .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
  color:#fff;
}
#fotter a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

#fotter .social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
#fotter .social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

#fotter .social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
#fotter .social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
#fotter h1{
	    margin: 25px 0px 103px -16px;
}
#fotter img{
	width: 100px;
}

#fotter .btn-default{
	color: #fbfafa;
    background-color: #232323;
    border-color: #ccc;
}
footer{
	background-color: #1c1c1c;
}
footer p{
	color: #fff;
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	font-weight: 100;
}
footer .creator a{
    color: #2196F3;
    font-size: 13px;
    font-weight: 100;
}
footer #back-to-top {
  border: 0;
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 50px;
    background-color: #2ca1fd;
    display: none;
    border-radius: 5px;
    padding: 7px 11px;
}
#fotter .pagination a{
    background-color: #232323;
    border: 0px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    margin-left: 0px;
    padding: 0px 25px 0 0;
    border-radius: 0px;
}

















/* code for the buyers*/
#slider1 .carousel-inner{
  background-image: url(../img/buyersbanner.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  
}
#slider1 .carousel-caption {
    right: 0%;
    left: 56%;
    padding-bottom: 30px;
    top: 130px;
    background-color: rgba(10, 10, 10, 0.27);
    height: 331px;
}
#slider1 .carousel-caption p{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: #ffF;
    line-height: 60px;
    margin-top: 100px;
    
}
#slider1 .carousel-caption span{
    font-family: 'Roboto', sans-serif;
    font-size: 46px;
    font-weight: 700;
    color: #00e905;    
}

#howit{
  background-color: #f0f1f1;
}
#howit .text-center h2{
  font-family: 'Roboto', sans-serif;
  color: #484848;
  text-align: center;
  font-weight: 600;
  margin: 0 0 40px 0;
  font-size: 35px;
}
#howit .text-center span{
    border-bottom: 7px solid #00aeef;
    padding-bottom: 15px;
}
#howit .vedio a:focus, a:hover, a:active, a:visited {
    color: #f0f1f1;
    text-decoration: none;
    outline: none;
}
#howit .vedio .modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    background:transparent;
    border:none;
    outline:none;
}
#howit .vedio .modal-content iframe {
    border:none;
    padding:0;
    margin:0;
}
#howit .vedio .close {
    font-size: 53px;
    margin: 40px 0 0 0;
    color: #fff;
}
#whyus .text-center h2{
  font-family: 'Roboto', sans-serif;
  color: #484848;
  text-align: center;
  font-weight: 600;
  margin: 0 0 40px 0;
  font-size: 35px;
}
#whyus .text-center span{
    border-bottom: 7px solid #00aeef;
    padding-bottom: 15px;
}
#whyus h1{
  text-align: center;
}
#whyus .innercircle {
  width: 100px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}

#whyus .innercircle canvas {
  vertical-align: top;
  width: 150px !important;
  height: 150px !important;
}

#whyus .innercircle strong {
  position: absolute;
  top: 60px;
  left: 27px;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}
#faq{
  background-color: #484848;
}
#faq h2{
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 35px;
}
#faq p{
  font-family: 'Lora', serif;
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}
#faq .part h4{
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
}
#faq .part h4 span{
    position: relative;
    left: 16px;
    top: 1px;
    color: #000;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
#faq .part h4 img{
  width: 25px;
  height: 25px;
}
#faq .part p{
    font-family: 'Lora', serif;
    color: #ffffff;
    padding: 7px 0px 5px 7px;
    text-align: justify;
    font-size: 12px;
}
#faq .btn{
  background-color: #00aeef;
    border: 0px;
    border-radius: 0px;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    float: right;
}
#strip{
  background-color: #171717;
}
#strip .text-center h1{
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
}
#strip .text-center .btn{
    background-color: #00aeef;
    border-radius: 0px;
    border: 0px;
    font-size: 15px;
    padding: 10px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
#latestpro .text-center h2{
  font-family: 'Roboto', sans-serif;
  color: #484848;
  text-align: center;
  font-weight: 600;
  margin: 0 0 40px 0;
  font-size: 35px;
}
#latestpro .text-center span{
    border-bottom: 7px solid #00aeef;
    padding-bottom: 15px;
}
#latestpro .inneritem
{
    background-color: #FFF;
}
#latestpro .inneritem h1
{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
#latestpro .inneritem .photo img
{
    height: 300px;
    width: 100%;
}

#latestpro .inneritem .info
{
    padding: 0px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}
#latestpro .inneritem .info h2{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
#latestpro .inneritem .info p{
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
}
#latestpro .inneritem .info p span{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid #bebcba;
    padding-bottom: 12px;
}
#latestpro .inneritem .info .btn{
    background-color: #f0b833;
    border-radius: 0px;
    border: 0px;
    font-size: 15px;
    font-weight: 600;
    color:#000000;
    font-family: 'Roboto', sans-serif;
    float: right;
}
#explore .text-center h2{
  font-family: 'Roboto', sans-serif;
  color: #484848;
  text-align: center;
  font-weight: 600;
  margin: 0 0 40px 0;
  font-size: 35px;
}
#explore .text-center span{
    border-bottom: 7px solid #00aeef;
    padding-bottom: 15px;
}
#explore .start_img{
  text-align: center;
}
#explore .start_img img{
    background-color: #00aeef;
    border-radius: 150px;
    padding: 12px;
}
#explore .start_img img:hover{
    background-color: #353434;
    border-radius: 150px;
    padding: 12px;
}
#explore p{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 40px;
}
.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}
.step1 .row {
    margin-bottom:10px;
}
.step_21 {
    border :1px solid #eee;
    border-radius:5px;
    padding:10px;
}
.step33 {
    border:1px solid #ccc;
    border-radius:5px;
    padding-left:10px;
    margin-bottom:10px;
}
.dropselectsec {
    width: 68%;
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    outline: none;
    font-weight: normal;
}
.dropselectsec1 {
    width: 74%;
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    outline: none;
    font-weight: normal;
}
.mar_ned {
    margin-bottom:10px;
}
.wdth {
    width:25%;
}
.birthdrop {
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    width: 16%;
    outline: 0;
    font-weight: normal;
}


/* according menu */
#accordion-container {
    font-size:13px
}
.accordion-header {
    font-size:13px;
  background:#ebebeb;
  margin:5px 0 0;
  padding:7px 20px;
  cursor:pointer;
  color:#fff;
  font-weight:400;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px
}
.unselect_img{
  width:18px;
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none; 
}
.active-header {
  -moz-border-radius:5px 5px 0 0;
  -webkit-border-radius:5px 5px 0 0;
  border-radius:5px 5px 0 0;
  background:#F53B27;
}
.active-header:after {
  content:"\f068";
  font-family:'FontAwesome';
  float:right;
  margin:5px;
  font-weight:400
}
.inactive-header {
  background:#333;
}
.inactive-header:after {
  content:"\f067";
  font-family:'FontAwesome';
  float:right;
  margin:4px 5px;
  font-weight:400
}
.accordion-content {
  display:none;
  padding:20px;
  background:#fff;
  border:1px solid #ccc;
  border-top:0;
  -moz-border-radius:0 0 5px 5px;
  -webkit-border-radius:0 0 5px 5px;
  border-radius:0 0 5px 5px
}
.accordion-content a{
  text-decoration:none;
  color:#333;
}
.accordion-content td{
  border-bottom:1px solid #dcdcdc;
}



/* code for seller */

#slider2 .carousel-inner{
  background-image: url(../img/sellerbanner.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  
}
#slider2 .carousel-caption {
    right: 0%;
    left: 56%;
    padding-bottom: 30px;
    top: 130px;
    background-color: rgba(10, 10, 10, 0.27);
    height: 331px;
}
#slider2 .carousel-caption p{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: #ffF;
    line-height: 60px;
    margin-top: 100px;
    
}
#slider2 .carousel-caption span{
    font-family: 'Roboto', sans-serif;
    font-size: 46px;
    font-weight: 700;
    color: #ffd200;    
}










/* code for landloard */


#slider3 .carousel-inner{
  background-image: url(../img/landbanner.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  
}
#slider3 .carousel-caption {
    right: 0%; 
    left: 0%; 
    padding-bottom: 30px;
    top: 130px;
    height: 100px;
}
#slider3 .carousel-caption p{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;  
    font-weight: 700; 
    color: #ffF;
    line-height: 65px;
    
}
#slider3 .carousel-caption .searchback{
  background-color: rgba(255, 255, 255, 0.58);
    padding: 50px;
}
#slider3 .carousel-caption .searchback input{
      padding: 14px 0px 14px 10px;
      width: 80%;
      color: #000;
      font-family: 'Roboto', sans-serif;
}
#slider3 .carousel-caption .searchback .btn{
    border: 0px;
    border-radius: 0px;
    padding: 0px 6px 0px 10px;
    font-size: 35px;
    color: #083064;
    background-color: #ebece7;
    font-family: 'Roboto', sans-serif;
}
#slider3 .carousel-caption .searchback p .btn{
    border: 0px;
    border-radius: 0px;
    background-color: #ff5a00;
    color: #fff;
    font-size: 20px;
    padding: 5px 50px 5px 50px;
    font-family: 'Roboto', sans-serif;
}
#slider3 .carousel-caption .searchback h2{
    font-size: 32px;
    color: #083064;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
#slider3 .carousel-caption .sliderheading{
    background-color: rgba(0, 0, 0, 0.32);
    padding: 87px;
    margin-top: -24px;
}
#slider3 .carousel-caption .sliderheading h2{
    color:#fff;
    font-size: 39px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
#slider3 .carousel-caption .sliderheading span{
    color:#fed200;
    font-size: 39px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
#slider3 .carousel-caption .well{
    position: relative;
    top: -314px;
    border-radius: 0px;
}











/* code for tenant */




#slider4 .carousel-inner{
  background-image: url(../img/tenantbanner.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  
}
#slider4 .carousel-caption {
    right: 0%; 
    left: 0%; 
    padding-bottom: 30px;
    top: 130px;
    height: 100px;
}
#slider4 .carousel-caption p{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;  
    font-weight: 700; 
    color: #ffF;
    line-height: 65px;
    
}
#slider4 .carousel-caption .searchback{
  background-color: rgba(255, 255, 255, 0.58);
    padding: 50px;
}
#slider4 .carousel-caption .searchback input{
      padding: 14px 0px 14px 10px;
      width: 80%;
      color: #000;
      font-family: 'Roboto', sans-serif;
}
#slider4 .carousel-caption .searchback .btn{
    border: 0px;
    border-radius: 0px;
    padding: 0px 6px 0px 10px;
    font-size: 35px;
    color: #083064;
    background-color: #ebece7;
    font-family: 'Roboto', sans-serif;
}
#slider4 .carousel-caption .searchback p .btn{
    border: 0px;
    border-radius: 0px;
    background-color: #ff5a00;
    color: #fff;
    font-size: 20px;
    padding: 5px 50px 5px 50px;
    font-family: 'Roboto', sans-serif;
}
#slider4 .carousel-caption .searchback h2{
    font-size: 32px;
    color: #083064;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
#slider4 .carousel-caption .sliderheading{
  background-color: rgba(0, 0, 0, 0.32);
    padding: 100px;
}
#slider4 .carousel-caption .sliderheading h2{
    color:#fff;
    font-size: 39px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
#slider4 .carousel-caption .sliderheading span{
    color:#fed200;
    font-size: 39px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
#slider4 .carousel-caption .well{
    position: relative;
    top: -314px;
    border-radius: 0px;
}



/* code for search property */



#slider5 .carousel-inner{
  background-image: url(../img/search_propertybanner.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  
}
#slider5 .carousel-caption {
    right: 0%;
    left: 0%;
    padding-bottom: 30px;
    top: 250px;
    background-color: rgba(0, 0, 0, 0.25);
    height: 100px;
}
#slider5 .carousel-caption p{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;  
    font-weight: 700; 
    color: #ffF;
    line-height: 65px;
}
#search-pro .search-option{
  background-color: rgba(199, 198, 198, 0.42);
  margin-top: -80px;
}
#search-pro .search-option .nav .btn:hover{
  background-color: #000;
}
#search-pro .search-option .nav .btn{
    padding: 0px 130px 0 130px;
    border-radius: 3px;
    border-top-left-radius: 2px;
    display: block;
    width: 100%;
    height: 37px;
    text-decoration: none;
    background-color: rgba(0,0,0,0.78);
    color: #fff;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
#search-pro .search-option .nav li{
      padding: 20px 20px 0px 20px;
}
#search-pro .tab-content{
  padding: 40px;
}

#search-pro .tab-content .fa{
    position: absolute;
    top: 5px;
    left: 25px;
    font-size: 22px;
    color: #1081e1;

}
#search-pro .tab-content .btn{
  border-radius: 0px;
  background-color: #01adef;
  border: 0px;
  font-family: 'Roboto', sans-serif;
}
#search-pro .tab-content .btn .search1{
    font-size: 20px;
    position: relative;
    top: 0px;
    left: 0px;
    color: #fff;
}
#search-pro .tab-content input{
    padding: 6px 25px;
    font-family: 'Roboto', sans-serif;
}

#search-pro .search-option .nav{
  border-bottom: 0px;
}
#searchtab .sortby{
    background-color: #4a4747;
    color: #fff;
    border-radius: 5px;
    height: 42px;
    margin-top: 40px;
}
#searchtab .sortby .selectall{
    border-right: 2px solid;
    padding:12px;
}
#searchtab .sortby .selectall span{
      position: absolute;
    top: 13px;
    left: 52px;
    color: #01adef;
    font-family: 'Roboto', sans-serif;
}
#searchtab .sortby .bid{
    border-right: 2px solid;
    padding: 11px;

}
#searchtab .sortby .bid span{
  font-family: 'Roboto', sans-serif;
  color: #01adef;
}
#searchtab .sortby .buyit select{
    width: 25%;
    border-radius: 0px;
    margin-top: 4px;
    background-color: #4a4747;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 2px;
}
#searchtab .sortby .buyit span{
  color: #01adef;
  font-family: 'Roboto', sans-serif;
}
#searchtab .sortby .buyit .fa{
  margin: 14px;
}
#searchtab .borderproperty{
    border-top: 4px solid #69da25;
    margin: 30px 0 0px 0;
    box-shadow: 4px 4px 24px -9px #000
}
#searchtab .proimage img{
    height: 216px;
    margin: 0px 0px 0px -29px;
    width: 150%;
}
#searchtab .deatil{
    margin-left: 60px;
   
}
#searchtab .deatil h1{
  font-size: 13px;
  font-weight: 600;
  margin-top: 12px;
  font-family: 'Roboto', sans-serif;
  padding:0px;
}
#searchtab .deatil h1 span{
  color: #2ca1fd;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 15px;
}
#searchtab .deatil p span{
  color: #2ca1fd;
  font-weight: 600;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
#searchtab .deatil p b{
    color: #000;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
#searchtab .deatil p{
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding:0px;
  color:#828282;
}
#searchtab .deatil .highlight{
  border-top: 1px solid #b7b7b7;
  border-bottom: 1px solid #b7b7b7;
  padding: 4px;
  margin:6px;
}

#searchtab ul li{
  float: left;
  list-style: none;
  padding: 10px 50px 10px 0px;
  font-weight: 600;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}
#searchtab ul li .fa{
  color: #969696;
  font-size: 15px;
}
#searchtab .btncart .btn{
  padding:4px;
  margin: 4px;
}
#searchtab .btncart .btnfirst{
    color: #3f51b5;
    background-color: #fff;
    border: 0px;
    border-radius: 0px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: -11px;
}
#searchtab .btncart .btnsecond{
    color: #fff;
    background-color: #00aeef;
    border: 0px;
    border-radius: 0px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    padding:5px;
}
#searchtab .btncart .btnlast{
    color: #fff;
    background-color: #f97b31;
    border: 0px;
    font-family: 'Roboto', sans-serif;
    border-radius: 0px;
    font-size: 13px;
    padding:5px;
}
#searchtab .secure{
    text-align: center;
    margin-top: 20px;
}

#searchtab .secure img{
    width: 80%;
}
#searchtab .filterhead p{
    border: 1px solid #00aeef;
    background-color: #00aeef;
    padding: 8px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-top: 113px;
}
#searchtab .filterfooter input{
    color: #fff;
    background-color: #2ca1fd;
    width: 233px;
    border-radius: 0px;
    border: 0px;
    font-family: 'Roboto', sans-serif;
}
#searchtab .filterbudget{
    border: 1px solid #000;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px 10px 0px;
    margin-top: -10px;
    border-top: 0px;
}
#searchtab .filterbudget select{
    height: 30px;
    border-radius: 0px;
    padding: 2px;
}
#searchtab .fliterheading{
    padding: 4px 0px 0px 6px;
    font-size: 13px;
    font-weight: 600;
}
#searchtab .filterbed{
    border: 1px solid #000;
    height: 100px;
    padding: 10px 0px 10px 0px;
    border-top: 0px;
}
#searchtab .filterbed .innerbed{
  padding:0px 17px;
}
#searchtab .filterbed .innerbed span{
    font-size: 13px;
    color: #827f7f;
    font-family: 'Roboto', sans-serif;
}
#searchtab .filterlocal{
    border: 1px solid #000;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px 10px 0px;
    border-top: 0px;
}
#searchtab .filterlocal input{
    margin-left: 13px;
    width: 68%;
    height: 35px;
    padding: 3px;
}
#searchtab .filterlocal .fa{
    background-color: #d6d6d6;
    padding: 10px;
}
#searchtab .filteramen{
    border: 1px solid #000;
    height: 100px;
    padding: 10px 0px 10px 0px;
    border-top: 0px;
}
#searchtab .filteramen .inneramen{
  padding:0px 17px;
}
#searchtab .filteramen .inneramen span{
    font-size: 13px;
    color: #827f7f;
    font-family: 'Roboto', sans-serif;
}
#searchtab .filterarea{
    border: 1px solid #000;
    height: 100px;
    padding: 10px 0px 10px 0px;
    border-top: 0px;
    border-bottom: 0px;
}
#searchtab .filterarea p{
  font-size: 12px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  padding:8px 0px;
}
#searchtab .filterarea select{
    height: 30px;
    border-radius: 0px;
    padding: 2px;
}






















